<div id="game_channel" data-game-id='<%= @game.id %>'></div>
<div id="video-bg">
	<%= image_tag @task.task_medium.image.url, id: 'video'%>
</div>
<script>
	$('#navbar').hide();
	$(window).keypress(function (e) {
        if (e.key === ' ' || e.key === 'Spacebar') {
            window.location.replace('<%= gd_set_slide_path(@game.current_task + 1) %>');
        };
    })
</script>
