<div id="pitches">
    <div class="search">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Search for pitches tasks" id="searchPitch" class="form-field">
    </div>
    <h3>Pitches</h3>
    <h5>Hier ist eine Liste deiner Pitchvorlagen</h5>
    <div class="pitches" id="pitch-list">
        <div class="card">
            <div class="thumb">
                <%= image_tag 'dash/Image.png' %>
            </div>
            <div class="title">Pitchname</div>
            <div class="subtitle">Video: 5, Image: 3, Text: 3</div>
            <div class="buttons">
                <a href="javascript:void(0)" class="btn reversed">Browse tasks</a>
            </div>
        </div>
        <div class="card">
            <div class="thumb">
                <%= image_tag 'dash/Image.png' %>
            </div>
            <div class="title">Pitchname</div>
            <div class="subtitle">Video: 5, Image: 3, Text: 3</div>
            <div class="buttons">
                <a href="javascript:void(0)" class="btn reversed">Browse tasks</a>
            </div>
        </div>
    </div>
    <div class="right-side-card" id="pitchTasks">
        <div class="right-tasks">
            <div class="task-card">
                <div class="thumb">
                    <%= image_tag 'dash/Image.png' %>
                    <div class="length">120</div>
                </div>
                <div class="title">Type your question</div>
                <div class="sub-title">Rating Criteria</div>
                <div class="rating-criteria">
                    <div class="criterium">Rhethorik</div>
                    <div class="criterium">Spontanität</div>
                    <div class="criterium">Diversität</div>
                    <div class="criterium">Körpersprache</div>
                </div>
                <div class="buttons">
                    <a href="javascript:void(0)" class="btn reversed">Use this task</a>
                </div>
            </div>

            <div class="task-card">
                <div class="thumb">
                    <%= image_tag 'dash/Image.png' %>
                    <div class="length">120</div>
                </div>
                <div class="title">Type your question</div>
                <div class="sub-title">Rating Criteria</div>
                <div class="rating-criteria">
                    <div class="criterium">Rhethorik</div>
                    <div class="criterium">Spontanität</div>
                    <div class="criterium">Diversität</div>
                    <div class="criterium">Körpersprache</div>
                </div>
                <div class="buttons">
                    <a href="javascript:void(0)" class="btn reversed">Use this task</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#pitchTasks').hide();
    $('#pitches #pitch-list .btn').click(function () {
        $('#pitch-list').hide();
        $('#pitchTasks').show();
    })
</script>