<div class="card" id="task_media">
  <h3>Task Media</h3>
  <div class="table" id="task_media-table">
    <table>
      <thead>
        <tr>
          <th>Type</th>
          <th>Zeit</th>
        </tr>
      </thead>
      <tbody>
        <% if @media %>
        <% @media.each do |m| %>
          <tr id="" class="medianame">
            <td><%= m.media_type %></td>
            <td><%= m.duration %></td>
          </tr>
        <% end %>
        <% else %>
        <tr id="" class="medianame">
          <td><%= @medium.media_type %></td>
          <td><%= @medium.duration %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<script type="text/javascript">
  new PerfectScrollbar('#task_media-table');
</script>
