<h1>Hallo <%= @user.fname %> <%= @user.lname %></h1>

<p>Herzlich Willkommen bei Peter Pitch!</p>
<p>Vielen Dank für deine Anfrage. Einer unserer Wölfe wird sich bald mit dir in Verbindung setzen!.</p>

<p>Bis Dann <br> Dein Peter Pitch Team</p>
