<div id="game_channel" data-game-id='<%= @game.id %>'></div>
<div class="head">
	<h1>Tolle Runde!</h1>
</div>
<div class="middle">
	<%= image_tag @admin.avatar.url, class: 'custom-border pulse' %>
</div>
<div class="bottom">
	<% if @admin.role != 'user' && @admin.role != 'inactive' %>
	<%= link_to 'beenden', gm_set_state_path('', state: 'ended'), class: 'btn inverted', data: {confirm: "Bist du sicher, dass du keine neue Runde starten möchtest?"} %>
	<%= link_to 'wiederholen', gm_set_state_path('', state: 'repeat'), class: 'btn' %>
	<% end %>
</div>
