<div class="head">
	<h1>Wie ist deine E-Mail?</h1>
</div>
<%= form_for(:user, url: email_game_path(@game), html: {id: 'email_form', autocomplete: 'off'}) do |f| %>
<div class="middle">
	<div class="form-group single-line">
		<%= f.email_field :email, placeholder: 'E-Mail', onfocus: "hideDots()", onblur: "showDots()", class: 'form-field' %>
	</div>
</div>
<div class="dots">
	<div class="dot custom-bg"></div>
	<div class="dot custom-bg"></div>
	<div class="dot custom-bg"></div>
</div>

<div class="bottom">
	<%= f.submit 'weiter', class: 'btn fixed' %>
</div>
<% end %>
<script>
	$(document).ready(function() {
        function disableBack() { window.history.forward() }

        window.onload = disableBack();
        window.onpageshow = function(evt) { if (evt.persisted) disableBack() }
    });
	function hideDots() {
		$('.dots').hide();
	}
	function showDots() {
		$('.dots').show();
	}
</script>