<div class="head">
	<h1>Wie heißt du?</h1>
</div>
<%= form_for(:user, url: name_game_path(@game, @admin), html: {id: 'name_form'}) do |f| %>
<div class="middle">
	<div class="form-group two-line" id="group_fname">
		<%= f.text_field :fname, placeholder: 'Vorname', class: 'form-field', onfocus: "hideDots()", onblur: "showDots()" %>
	</div>
	<div class="form-group two-line" id="group_lname">
		<%= f.text_field :lname, placeholder: 'Nachname', class: 'form-field', onfocus: "hideDots()", onblur: "showDots()" %>
	</div>
</div>
<div class="dots">
	<div class="dot"></div>
	<div class="dot"></div>
	<div class="dot"></div>
</div>
<div class="bottom">
	<%= f.submit 'weiter', class: 'btn' %>
</div>
<% end %>

<script>
	function hideDots() {
		$('.dots').hide();
	}
	function showDots() {
		$('.dots').show();
	}
</script>