<div id="game_channel" data-game-id='<%= @game.id %>'></div>
<div class="head" id="task-head">

  <% if @admin.role != 'user' && @admin.role != 'inactive' %>
	<h1>Nutzerauswahl</h1>
  <h3>Anstelle des Votings kannst du hier selbst einen Nutzer bestimmen!</h3>
  <% else %>
	<h1>Die Aufgabe!</h1>
	<h3>Lies dir die Aufgabe aufmerksam durch!</h3>
  <% end %>
</div>
<% if @admin.role != 'user' && @admin.role != 'inactive' %>
<div class="middle">
	<div class="circle">
		?
	</div>
</div>
<div class="bottom">
  <%= link_to 'Wähle User', gm_game_path(this_task: @pitch.task_orders.find_by(order: @game.current_task).task, show_task: true), class: 'btn' %>
</div>
<% else %>
<div class="middle" id="task-middle">
	<div class="card"><%= @task.title %></div>
</div>
<% end %>
