<div id="game_channel" data-game-id='<%= @game.id %>'></div>
<div class="head">
	<h1>Kopf hoch!</h1>
	<h3>Die Musik spielt gerade auf dem Hauptbildschirm</h3>
</div>
<div class="middle">
		<div class="icon shake">
			<i class="fas fa-desktop"></i>
		</div>
</div>
<div class="bottom">
	<% if @admin.role != 'user' && @admin.role != 'inactive' %>
	<%= link_to 'weiter', gm_set_slide_path(@game.current_task + 1), class: 'btn custom-btn' %>
	<% end %>
</div>
