<div class="head">
	<h3>- Willkommen im Pitchraum -</h3>
	<h1><%= @game.team.name %></h1>
</div>

<div class="middle">
	<%= image_tag 'fallback/avatar.png'%>
</div>

<div class="bottom">
	<%= link_to "Auf geht's!", gm_login_path, class: 'btn' %>
</div>

<script>
	$(document).ready(function() {
        function disableBack() { window.history.forward() }

        window.onload = disableBack();
        window.onpageshow = function(evt) { if (evt.persisted) disableBack() }
    });
</script>