/*
 *= require barack
 *= require animate
 *= require landing/animations
 *= require landing/countdown
 *= require landing/product
 *= require landing/teaser
 *= require landing/contact
 *= require swiper-bundle.min.css
 */

@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap');
body {
	font-family: 'Nunito', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  background-color: #fff;
  margin: 0;
}
#navbar {
	position: relative;
	top: 0;
	left: 0;
	height: 100px;
	width: calc(100% - 40px);
	z-index: 100;
	background-color: rgba(255, 255, 255, .8);
	margin: 0 20px;
	.logo {
		position: absolute;
		left: 0;
		top: 25px;
		height: 50px;
		z-index: 100;
		img {height: 100%;}
	}
	.navbar-links {
		display: none;
    position: absolute;
    top: 100px;
    left: 0;
    height: calc(100vh - 100px);
    width: 100%;
    line-height: 100px;
    text-align: center;
    z-index: 90;
    background-color: white;
		.link {
			position: relative;
    	height: 100px;
    	width: 100%;
		}
		a {
			text-decoration: none;
    	position: absolute;
    	top: 0;
    	left: 0;
    	height: 100%;
    	width: 100%;
    	color: #0e0e0e;
    	background-color: rgba(255,255,255,1);
    	font-size: 30px;
		}
		a.login-link, i.login-link {
			color: #16e2a5;
    	font-weight: bold;
    	font-size: 20px;
			cursor: pointer;
			font-style: normal;
		}
		.btn-white {
	    position: relative;
	    width: 200px;
	    margin: auto;
		}
	}
	.navbar-mobile {
    position: absolute;
    right: 0;
    top: 25px;
    line-height: 50px;
    font-size: 30px;
    cursor: pointer;
    z-index: 100;
	}
	.login {
    display: none;
    position: absolute;
    right: 0;
    top: 25px;
    line-height: 50px;
    cursor: pointer;
    z-index: 100;
		.login-link {
    	color: #0e0e0e;
    	font-size: 16px;
    	text-decoration: none;
    	font-weight: normal;
			font-style: normal;
		}
		.btn {
    	margin-left: 15px;
		}
	}
}
#navbar.contact-navbar {
	left: 100px;
	width: calc(100vw - 200px);
	background-color: transparent;
}
@media (min-width: 500px) {
	#navbar {
    left: 0;
  	width: calc(100vw - 40px);
  }
}
@media (min-width: 700px) {
	#navbar {
		left: calc(50vw - 350px);
    width: 700px;
    margin: 0;
		.navbar-links {
			display: block;
      background-color: white;
      top: 0;
      left: 150px;
      height: 100px;
      line-height: 100px;
      margin: 0 auto;
      width: 400px;
			.link {
				position: relative;
        float: left;
        width: 80px;
        text-align: center;
        border-bottom: 0px solid #0e0e0e;
        top: 25px;
        height: 50px;
        line-height: 50px;
				a {font-size: 16px;}
	    }
			.line {
        position: absolute;
        top: 50px;
        width: 100%;
        height: 1px;
        background-color: #16e2a5;
        opacity: 0;
    	}
			.link:hover .line {
        animation-name: fadeIn;
        animation-duration: 2s;
        animation-fill-mode: forwards;
    	}
			a.login-link, i.login-link {
        display: none;
    	}
			.btn {display: none !important;}
		}
		.login {
			display: block;
			.login-link {color: #16e2a5;}
		}
		.navbar-mobile {display: none;}
	}
}
@media (min-width: 900px) {
	#navbar {
		left: calc(50vw - 450px);
    width: 900px;
		.navbar-links {
			left: 250px;
      width: 400px;
			.link {width: 100px;}
    }
	}
}
@media (min-width: 1100px) {
	#navbar {
		left: calc(50vw - 550px);
    width: 1100px;
		.navbar-links {left: 350px}
	}
}
@media (min-width: 1300px) {
	#navbar {
		left: calc(50vw - 650px);
    width: 1300px;
		.navbar-links {left: 450px;}
	}
}
.dotted {
	position: absolute;
	right: 50px;
	width: 100px;
	top: 250px;
	transform: rotateZ(90deg);
	opacity: .7;
	display: none;
}
.shape {display: none;}
.heading {
  font-size: 26px;
  line-height: 34px;
  color: #0e0e0e;
	font-weight: bold;
  text-align: center;
}
.video-popup {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	line-height: 100%;
	background-color: rgba(0,0,0,.5);
	z-index: 100;
	animation: zoomIn 1s 1;
	iframe {
		position: absolute;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
		width: 300px;
	}
	video {
		width: 75% !important;
  	height: auto !important;
  	margin: 0 auto;
  	display: block;
		position: absolute;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
	}
}
@keyframes zoomIn {
	from {
		transform: scale(0);
	}
}
#content {
	position: relative;
  left: calc(50vw - 150px);
  width: 300px;
  margin: 30px 0;
	#typed-strings {display: none;}
	.shape {position: absolute;}
	.head {
		width: 100%;
		.left {
			.heading {
				text-align: center;
				font-family: 'Barack-Medium';
				font-size: 50px;
				line-height: 60px;
				font-weight: normal;
				margin-bottom: 10px;
				span {color: #4394ec;}
				.typed-cursor {
					animation: .9s blink;
					opacity: 1;
				}
			}
			.subheading {
				text-align: center;
				font-size: 18px;
				font-weight: lighter;
				color: #667093;
			}
			.cta {
				line-height: 100px;
    		width: 300px;
				text-align: center;
			}
		}
		.right {
			position: relative;
			height: 200px;
			cursor: pointer;
			.video {
				position: relative;
				width: 100%;
				right: 0;
				video {
					position: relative;
					width: 280px;
					margin: 0 10px;
					border-radius: 10px;
					box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
					z-index: 1;
					background-color: white;
				}
				img {
					position: absolute;
					right: 10px;
					width: 280px;
					border-radius: 10px;
					box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
					z-index: 2;
					background-color: white;
				}
				.play {
					height: 100px;
					width: 100px;
					position: absolute;
					top: 25px;
					right: 100px;
					z-index: 3;
					color: white;
					svg .st1 {
						stroke: white;
					}
				}
			}
			.polygons {
				position: absolute;
				top: 100px;
				height: auto;
				width: 200px;
				right: 50px;
				z-index: 0
			}
		}
		.right:hover {
			.play {
				transform: scale(1.1);
			}
		}
	}
	.references {
		h2 {
			color: #0e0e0e;
    	font-size: 20px;
    	line-height: 32px;
    	font-weight: bold;
    	text-align: center;
			.line1{
				display: none;
		    position: absolute;
		    top: 15px;
		    width: 30%;
		    height: 2px;
		    left: 0;
		    background-image: linear-gradient(to right, rgba(194, 194, 194, 0), rgba(194, 194, 194, 1));
			}
			.line2 {
				display: none;
		    position: absolute;
		    top: 15px;
		    width: 30%;
		    height: 2px;
		    right: 0;
		    background-image: linear-gradient(to right, rgba(194, 194, 194, 1), rgba(194, 194, 194, 0));
			}
		}
		h2.desktophead {display: none;}
		.logo-wheel {
    	padding-bottom: 20px;
			img {
		    height: 10px;
		    margin: 0 8px;
		    filter: grayscale(100%);
		    opacity: .5;
			}
			img:first-child {margin-left: 0}
			img:last-child {margin-right: 0}
			img:hover {
				filter: grayscale(0%);
				opacity: .8;
			}
		}
	}
	.wie-geil-ist-das {
		position: relative;
    width: 100%;
    text-align: center;
		h2 {
			color: #0e0e0e;
    	font-size: 26px;
    	line-height: 32px;
    	font-weight: bold;
    	text-align: center;
			margin-bottom: 10px;
		}
		img {
			margin-top: 10px;
			width: 100%;
		}
		h5 {
			position: relative;
    	color: #667093;
    	font-size: 14px;
    	line-height: 24px;
    	text-align: center;
    	width: 100%;
    	font-weight: normal;
    	margin-top: 0;
		}
	}
	.testimonials {
		position: relative;
		width: 300px;
		height: 400px;
		overflow: hidden;
		align-items: center;
		margin: 20px 0;
		.heading {
	    font-size: 26px;
	    line-height: 34px;
	    color: #0e0e0e;
	    font-weight: bold;
	    text-align: center;
			margin-bottom: 10px;
		}
		.swiper-container {
			height: 350px;
			width: 300px;
			.swiper-pagination-bullet-active {background-color: #16e2a5;}
		}
		.slider {
		  position: absolute;
		  top: 350px;
		  width: 52px;
		  left: 124px;
			.circle {
			  float: left;
			  height: 7px;
			  width: 7px;
			  border: solid 1px #b9b9b9;
			  border-radius: 50%;
			  margin: 4px;
			  cursor: pointer;
			}
			.circle.active {
			  background-color: #16e2a5;
				border-color: #16e2a5;
			}
		}
		.card {
		  position: relative;
		  width: 276px;
		  height: 253px;
		  border-radius: .75rem;
		  border: 2px solid #16e2a5;
		  box-shadow: 0 10px 10px 0 rgba(172, 172, 172, .4);
			margin: 10px;
			.text {
		    text-align: center;
		    padding: 10px;
		    font-size: 14px;
		    color: #667093;
		    line-height: 24px;
		    width: 256px;
			}
			.people {
		    position: absolute;
		    bottom: 30px;
		    left: 110px;
		    width: 190px;
		    height: 50px;
				.name {
				  position: absolute;
				  top: 0;
				  left: 0;
				  font-size: 16px;
				  line-height: 20px;
				  font-weight: bold;
				  color: #0e0e0e;
				}
				.logo {
					position: absolute;
					left: 0;
					top: 25px;
					bottom: 10px;
					height: 20px;
					img {
						left: 0;
						margin: 2.5px 0;
						height: 15px;
						width: auto;
					}
					img#mysecondear {
						height: 20px;
						margin: 0;
					}
				}
			}

			img {
		    position: absolute;
		    left: 5px;
		    bottom: 0;
				width: 100px;
				z-index: 1;
			}
			img#second {
				z-index: 0;
				filter: blur(2px);
			}
		}
	}
	#hiw {
		position: relative;
    width: 300px;
    overflow: hidden;
		.animIsometric svg {width: 115% !important;}
		h2 {
			color: #0e0e0e;
	    font-size: 26px;
	    line-height: 32px;
	    font-weight: bold;
	    text-align: center;
			width: 100%;
		}
		.categories {color: #667093;}
		.text {
			h2 {
				font-weight: 500;
		    text-align: center;
		    color: #4394ec;
		    margin: 0;
			}
		}
		img {
			position: relative;
			width: 220px;
			margin: 0 40px;
		}
		#rudel,
		#rating {
			position: relative;
			width: 220px;
			margin: 0 40px;
		}
		#pitchit {
			width: 230px;
			margin: 0 30px 0 40px;
		}
		.rudel,
		.pitch,
		.rating {
			text-align: center;
			position: relative;
			width: 300px;
			margin-bottom: 50px;
		}
		#line1 {
			display: none;
			position: absolute;
			top: 100px;
			left: 210px;
		}
		#line2 {
			display: none;
			position: absolute;
			top: 70px;
			left: 650px;
		}
	}
	#party {
		position: relative;
		width: 100%;
		margin-bottom: 100px;
		.heading {
	    font-size: 26px;
	    line-height: 30px;
	    color: #0e0e0e;
	    font-weight: bold;
	    text-align: center;
			margin-bottom: 10px;
		}
		.video {
			position: relative;
			margin: 25px;
			width: 250px;
			border-radius: 10px;
			overflow: hidden;
			box-shadow: 0 0 5px 0 rgba(0,0,0,.2);
			img {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				z-index: 1;
				transition-duration: 1s;
			}
			video {
				position: relative;
				width: 100%;
				z-index: 0;
			}
			.play {
				position: absolute;
				height: 100px;
				width: 100px;
				top: 25px;
				right: 75px;
				z-index: 3;
				color: white;
				svg .st1 {
					width: 100%;
					stroke: white;
				}
			}
		}
		.video:hover {
			img {transform: scale(1.1);}
			.play {transform: scale(1.1);}
		}
	}
	#product {
		.image-text {
	    position: relative;
	    width: 100%;
	    text-align: center;
	    padding: 20px 0;
			.image {
		    position: relative;
		    width: 100%;
		    margin: 20px 0;
				img {width: 100%;}
			}
			.text {
				.blue {
					font-size: 13px;
    			line-height: 20px;
    			color: #4394ec;
    			font-weight: 600;
				}
				.content {
    			font-size: 14px;
			    line-height: 24px;
			    color: #667093;
					.btn {margin: 20px 0 0 0;}
				}
			}
		}
	}
	#smartphone {
		position: relative;
		width: 100%;
		.head {
			line-height: 32px;
			height: 32px !important;
			font-size: 26px;
			font-weight: bold;
			text-align: center;
		}
		.head-text {
			text-align: center;
			max-width: 367px;
			margin: 20px auto;
			color: #667093;
		}
		.text {
			width: 100%;
			color: #667093;
			margin-bottom: 10px;
			h5 {
				color: #4394ec;
				font-size: 13px;
				line-height: 20px;
				font-weight: 600;
				margin: 20px 0 0 0;
			}
		}
		.left, .right {
			width: 240px;
			margin: 0 auto;
			color: #667093;
			text-align: center;
			.line {
				position: relative;
				height: 3px;
				background-color: #16e2a5;
				display: none;
				.dot {
					position: absolute;
					top: -3px;
					height: 9px;
					width: 9px;
					border-radius: 50%;
					background-color: #16e2a5;
				}
			}
		}
		.left {
			.line .dot {right: -3px;}
		}
		.right {
			.line .dot {left: -3px;}
		}
		.shadow {
			display: none;
			height: 80px;
			background-image: linear-gradient(to top, rgba(155,165,235,0), rgba(155,165,235,0.1) )
		}
		.image {
			position: relative;
			width: 257px;
			margin: 0 auto;
		}
	}
	#faq {
		margin-bottom: 50px;
		.heading {
			text-align: center;
		}
		.question-section {
			margin-top: 20px;
			.question {
				width: 100%;
				.q {
					width: 100%;
				  text-align: left;
				  font-size: 14px;
				  line-height: 100px;
				  color: #667093;
				  border-bottom: 1px solid #e8e9ef;
				  cursor: pointer;
					img {
						float: right;
					  height: 20px;
					  width: 20px;
					  margin: 40px 0;
					}
					i {
					  float: right;
					  height: 20px;
					  width: 20px;
					  line-height: 20px;
					  text-align: center;
					  border-radius: 50%;
					  color: #16e2a5;
					  margin: 36px 0;
					  padding: 0;
					  font-size: 16px;
					  border: 2px solid #16e2a5;
					}
					.fa-minus {display: none;}
				}
				.text {
				  display: none;
				  font-size: 14px;
				  padding: 10px 0;
				  color: #667093;
				}
			}
			.question:last-child .q {border-bottom: 0;}
		}
	}
	#secure {
		position: relative;
		height: auto;
		margin: 20px 0px;
		width: 300px;
		.text {
			width: 300px;
			margin: 20px 0;
			color: #667093;
			text-align: center;
		}
		h2 {color: #0e0e0e;}
		.daten, .ssl, .hosted {
			position: relative;
			width: 300px;
			margin: 50px 0;
			color: #667093;
			text-align: center;
			img {
				height: 55px;
				margin: 20px 0;
			}
		}
	}
	.startnow {
	  height: auto;
	  width: 240px;
	  background-image: linear-gradient(to top, #54b7ff, #45b1ff);
	  color: white;
	  text-align: center;
	  font-size: 26px;
	  line-height: 32px;
	  padding: 22px 30px;
	  font-weight: bold;
	  margin-bottom: 50px;
		border-radius: .75rem;
		a {
		  bottom: 30px;
		  margin: 19px 10px 0 10px;
		  width: 200px;
		}
	}
}
@media (min-width: 500px) {
	.video-popup {
		iframe {
			width: 500px;
		}
	}
	#content {
		left: calc(50vw - 250px);
		width: 500px;
		.head {
			width: 300px;
			margin: 0 100px;
		}
		.references .logo-wheel {margin: 0 100px;}
		.testimonials {width: 500px;}
		#hiw {
			left: 0;
			width: 500px;
			.categories {
				margin: 0 100px;
				width: 300px;
			}
		}
		#party .video {
			width: 450px;
			.play {
				right: 150px;
				height: 150px;
				width: 150px;
				top: 50px;
			}
		}
		#faq {
	    padding: 0 50px;
			.question .q {font-size: 16px;}
		}
		#secure {
			width: 500px;
			.text {
				width: 400px;
				margin: 20px 50px;
			}
			.daten, .ssl, .hosted {
				margin: 50px 100px;
				.text {
					width: 300px;
					margin: 20px 0;
				}
			}
		}
		.startnow {
	    margin: 10px 0 50px;
	    width: 440px;
	  }
	}
}
@media (min-width: 700px) {
	.dotted {display: block;}
	.video-popup {
		iframe {
			width: 700px;
		}
	}
	#content {
		left: calc(50vw - 350px);
		width: 700px;
		margin: 0 0 100px 0;
		.head {
			position: relative;
			width: 100%;
			height: 365px;
			margin: 0;
			.left {
				width: 350px;
				float: left;
				.heading {
					text-align: left;
				}
				.subheading {
					text-align: left;
				}
				.cta {
					text-align: left;
				}
			}
			.right {
				top: 50px;
		    right: 30px;
		    width: 300px;
		    float: right;
				.video {
					video {
						width: 300px;
						right: 10px;
						margin: 0;
						box-shadow: 8px 0 10px 0 rgba(0,0,0,.2);
						transform: perspective(900px) rotateY(-15deg);
						transition-duration: 2s;
					}
					img {
						width: 300px;
						box-shadow: 8px 0 10px 0 rgba(0,0,0,.2);
						transform: perspective(900px) rotateY(-15deg);
						transition-duration: 2s;
					}
					.play {
						right: 110px;
					}
				}
			}
			.right:hover {
				img, video {transform: perspective(900px) rotateY(-10deg);}
			}
		}
		.references {
			h2 {
				.line1, .line2 {
					display: block;
					width: 100px;
				}
			}
			.logo-wheel {
        margin: 50px 0;
        width: 100%;
				img {
	        height: 27px;
	        margin: 0 14px;
    		}
    	}
		}
		.wie-geil-ist-das {
			margin-top: 50px;
		}
		.testimonials {
			text-align: center;
			width: 700px;
		}
		#hiw {left: 100px;}
		#party .video {
			margin: 25px 125px;
		}
		#product {
			.image-text .text {
				margin: 0 100px;
				width: 500px;
			}
		}
		#smartphone {
			.left, .right {
				position: absolute;
				width: 220px;
			}
			.left {
				left: 0;
				top: 250px;
				text-align: left;
			}
			.right {
				right: 0;
				top: 400px;
				text-align: right;
				.text {margin-left: 20px;}
			}
			.text {
				font-size: 14px;
				width: 200px;
			}
			.line, .shadow {display: block;}
		}
		#faq {padding: 0;}
		#secure {
			width: 700px;
			.text {
				width: 600px;
				margin: 20px 50px;
			}
			.content {
				width: 700px;
				height: 700px;
			}
			.daten, .ssl, .hosted {
				.text {
					width: 300px;
					margin: 20px 0;
				}
			}
			.daten {
				margin: 50px 0 94px 50px;
				float: right;
				text-align: left;
				.text {text-align: left;}
				img {
					position: relative;
					left: 0;
				}
			}
			.ssl {
				margin: 50px 50px 50px 0;
				float: left;
				text-align: left;
				.text {text-align: left;}
			}
			.hosted {margin: 50px 200px;}
		}
		.startnow {
        width: 620px;
        margin: 10px 10px 50px;
    }
	}
}
@media (min-width: 900px) {
	.video-popup {
		iframe {
			width: 900px;
		}
	}
	#content {
		left: calc(50vw - 450px);
		width: 900px;
		margin: 0;
		.head {
			.right {
				width: 400px;
				.video {
					position: relative;
					width: 400px;
					video {
						width: 400px;
					}
					img {
						width: 400px;
					}
					.play {
						height: 150px;
						width: 150px;
						right: 120px;
					}
				}
			}
		}
		.references {
			margin: 0 100px 50px;
			h2 .line1,
			h2 .line2 {width: 150px;}
			.mobilehead {display: none;}
			h2.desktophead {
        display: block;
        position: relative;
    	}
			.logo-wheel img {
        height: 20px;
        margin: 0 30px;
    	}
		}
		.wie-geil-ist-das {
			img {
				left: 100px;
				width: 700px;
			}
			h5 {
				left: 100px;
				width: 700px;
			}
		}
		.testimonials {
			width: 900px;
			.swiper-container {
				width: 900px;
				.swiper-slide {
					width: 300px;
				}
			}
		}
		#hiw {
			left: 0;
			width: 900px;
			.categories {
				margin: 0 200px;
				width: 500px;
				.rudel,
				.pitch,
				.rating {
					svg {
						margin: 0 100px;
					}
				}
			}
			img {margin: 0 140px;}
			.text {width: 500px;}
		}
		#party {
			.video {
				width: 650px;
				.play {
					right: 250px;
					top: 100px;
				}
			}

		}
		#product {
			.image-text {
				height: 300px;
				.heading {text-align: left;}
				.image {
					position: absolute;
					width: 450px;
					img {width: 350px;}
				}
				.text {
					position: absolute;
					width: 350px;
					text-align: left;
					margin: 0;
				}
			}
			.image-text.left {
				.image {
					left: 0
					img {right: 0}
				}
				.text {
					left: 450px;
				}
			}
			.image-text.right {
				.text {left: 100px;}
			}
		}
		#smartphone {
			.left {
				width: 240px;
				margin-left: 70px;
			}
			.right {
				width: 240px;
				margin-right: 70px;
				.text {margin-left: 40px;}
			}
		}
		#faq .question .q {font-size: 18px;}
		#secure {
			width: 900px;
			.content {
				width: 900px;
				display: flex;
				height: auto;
			}
			.text {
				width: 700px;
				margin: 20px 100px;
			}
			.daten, .ssl, .hosted {
				width: 280px;
				.text {
					width: 280px;
					margin: 20px 0;
					text-align: left;
				}
			}
			.daten {margin: 50px 0;}
			.ssl {
				margin: 50px 30px 50px 0;
				float: none;
			}
			.hosted {
				margin: 50px 30px 50px 0;
				float: none;
				text-align: left;
			}
		}
		.startnow {
      width: 820px;
      line-height: 88px;
      font-size: 28px;
      font-weight: bold;
			a {
	      bottom: auto;
	      margin: 20px 10px;
	      float: right;
	    }
    }
	}
}
@media (min-width: 1100px) {
	.video-popup {
		iframe {
			width: 1100px;
		}
	}
	.dotted {display: block;}
	#content {
		left: calc(50vw - 550px);
		width: 1100px;
		.head {
			.left {
				width: 500px;
			}
			.right {
				width: 500px;
				.video {
					position: relative;
					width: 500px;
					video {
						width: 500px;
					}
					img {
						width: 500px;
					}
					.play {
						height: 150px;
						width: 150px;
						top: 70px;
						right: 170px;
					}
				}
			}
		}
		.references {
			h2 .line1,
			h2 .line2 {width: 250px;}
			.logo-wheel img {
				height: 30px;
				margin: 0 30px;
			}
		}
		.wie-geil-ist-das {
			img {left: 200px;}
			h5 {left: 200px;}
		}
		.testimonials {
			margin: 50px 100px;
			height: 400px;
		}
		#hiw {
			width: 1100px;
			margin: 0 0 100px;
			.categories {
				position: relative;
				left: 0;
				margin: 0 0 0 50px;
				width: 1050px;
				height: 600px;
				img {margin: 0 40px;}
				.text {width: 300px}
				.rudel, .pitch, .rating {
					position: absolute;
					svg {margin: 0;}
				}
				.rudel {
					top: 0;
					left: 0;
				}
				.pitch {
					top: 155px;
					left: 350px;
				}
				.rating {
	        top: 50px;
	        left: 750px;
    		}
			}
			#line1 {
				display: block;
				top: 170px;
				left: 190px;
				z-index: -100;
			}
			#line2 {
				display: block;
        left: 550px;
        top: 170px;
			}
		}
		#party .video {
			width: 850px;
			.play {
				right: 300px;
				top: 100px;
				height: 250px;
				width: 250px;
			}
		}
		#product {
			.image-text {
				height: 400px;
				.image {
					width: 550px;
					margin: 0;
					img {
						height: 300px;
						width: auto;
					}
				}
				.text {width: 450px;}
			}
			.image-text.right {
				.image {left: 550px;}
				.text {left: 100px;}
			}
			.image-text.left {
				.text {left: 550px;}
			}
		}
		#smartphone {
			.left {margin-left: 170px;}
			.right {margin-right: 170px;}
		}
		#faq {padding: 0 100px;}
		#secure {
			width: 1100px;
			.text {
				width: 800px;
				margin: 20px 150px;
			}
			.daten, .ssl, .hosted {
				width: 300px;
				.text {
					width: 300px;
					margin: 20px 0;
					text-align: left;
				}
			}
			.content {width: 1100px;}
			.daten {margin: 50px 0 50px 50px;}
			.ssl {
				margin: 50px 50px;
				float: none;
			}
			.hosted {
				margin: 50px 50px 50px 0;
				float: none;
			}
		}
		.startnow {
      margin: 10px 100px 50px;
      width: 840px;
      font-size: 33px;
    }
	}
}
@media (min-width: 1300px) {
	.video-popup {
		iframe {
			width: 1300px;
		}
	}
	#content {
		left: calc(50vw - 650px);
		width: 1300px;
		.head {
			height: 600px;
			.left {
				position: relative;
				top: 65px;
				width: 550px;
				.heading {font-size: 90px; line-height: 90px;}
				.subheading {
					font-size: 23px;
					padding-top: 20px;
				}
			}
			.right {
				top: 100px;
				right: 30px;
				width: 700px;
				.video {
					width: 700px;
					video {
						width: 700px;
					}
					img {
						width: 700px;
					}
					.play {
						width: 200px;
						height: 200px;
						top: 100px;
						right: 250px;
					}
				}
			}
		}
		.references {
			margin: 50px 0 0;
			width: 1300px;
			h2 {
				font-size: 20px;
				.line1, .line2 {width: 450px;}
			}
			.logo-wheel {
				margin: 0 140px;
				width: auto;
				img {
					margin: 20px 30px 10px;
					height: 30px;
				}
				img:first-child {margin: 20px 30px 10px 0;}
				img:nth-child(2) {
					height: 45px; margin: 30px 30px 0;
				}
				img:nth-child(3) {
					height: 50px;
					margin: 5px 30px 5px;
				}
				img:last-child {
					margin: 30px 0 0 30px;
					height: 45px;
				}
			}
		}
		.wie-geil-ist-das {
			img {left: 300px;}
			h5 {
				left: 300px;
				font-size: 16px;
			}
		}
		.testimonials {
			margin: 50px 0;
			height: 600px;
			width: 1300px;
			.swiper-container {
				height: 550px;
				width: 1300px;
				.swiper-slide {
					width: 426px;
				}
			}
			.card {
				width: 350px;
				height: 340px;
				margin-left: 10px 38px;
				.text {
					padding: 20px;
					font-size: 16px;
					line-height: 32px;
					width: 300px;
				}
				.people {
					left: 150px;
					.name {font-size: 20px;}
					.reference {font-size: 16px;}
				}
				img {width: 130px;}
			}
		}
		#hiw {
			left: 100px;
			margin-bottom: 0;
			.categories {height: 530px;}
		}
		#party {
			.video {margin: 25px 225px;}
			.paw2 {
	      height: 136px;
	      width: 136px;
	      position: absolute;
	      top: 600px;
	      left: 630px;
				.paw1, .paw2, .paw3, .paw4 {
			  	background: image_url('landing/pas-black.png') no-repeat;
			    position: absolute;
			    width: 20px;
			    height: 25px;
			    background-size: 20px 25px;
			   }
			   .paw1 {
			    left: 0;
			    top: 5px;
			    transform: rotate(140deg);
			   }
			   .paw2 {
			     left: 40px;
			     top: 6px;
			     transform: rotate(140deg);
			     opacity: .6;
			    }
			    .paw3 {
			      left: 30px;
			      top: 50px;
			      transform: rotate(150deg);
			      opacity: .6;
			    }
			    .paw4 {
			      left: 70px;
			      top: 50px;
			      transform: rotate(140deg);
			      opacity: .4;
			    }
	    }
		}
		#product {
			.image-text {
				height: 400px;
				margin-bottom: 30px;
				.image {
					width: 550px;
					img {
						width: 550px;
						height: auto;
					}
				}
				.text {
					margin-top: 80px;
					width: 500px;
					.content {font-size: 16px;}
				}
				.paw1 {
					height: 136px;
        	width: 136px;
        	position: absolute;
        	top: 400px;
        	left: 600px;
					.paw1,
					.paw2,
					.paw3,
					.paw4 {
						background: image_url('landing/pas-black.png') no-repeat;
		        position: absolute;
		        width: 20px;
		        height: 25px;
		        background-size: 20px 25px;
		        transform: rotate(220deg);
						left: auto;
					}
					.paw1 {right: 0; top: 5px;}
					.paw2 {right: 40px; top: 6px; opacity: .6;}
					.paw3 {right: 30px; top: 50px; opacity: .6; transform: rotate(230deg);}
					.paw4 {right: 70px; top: 50px; opacity: .4;}
				}
				.paw2 {
					height: 136px;
	        width: 136px;
	        position: absolute;
	        top: 410px;
	        left: 600px;
					.paw1, .paw2, .paw3, .paw4 {
						background: image_url('landing/pas-black.png') no-repeat;
		        position: absolute;
		        width: 20px;
		        height: 25px;
        		background-size: 20px 25px;
						transform: rotate(140deg);
					}
					.paw1 {left: 0; top: 5px;}
					.paw2 {left: 40px; top: 6px; opacity: .6;}
					.paw3 {left: 30px; top: 50px; opacity: .6; transform: rotate(150deg);}
					.paw4 {left: 70px; top: 50px; opacity: .4;}
				}
			}
			.image-text.right {
				.heading {text-align: right;}
				.image {left: 650px;}
				.text {left: 150px; text-align: right;}
			}
			.image-text.left {
				.image {left: 50px;}
				.text {left: 650px;}
			}
		}
		#smartphone {
			.left {margin-left: 270px;}
			.right {margin-right: 270px;}
		}
		#faq {
        padding: 0 50px;
        margin-bottom: 50px;
				.question .text {font-size: 16px;}
    }
		#secure {
			margin: 20px 50px;
			width: 1200px;
			.text {
				margin: 20px 200px;
			}
			.content {width: 1300px;}
			.daten, .ssl, .hosted {
				margin: 50px;
				text-align: left;
				.text {margin: 20px 0;}
			}
		}
		.startnow {
      margin: 50px 50px 100px;
      width: 1140px;
      font-size: 38px;
			.btn {margin: 25px 0 50px 0;}
    }
	}
}
@keyframes blink {
	to {
		opacity: 0;
	}
}
#footer {
	position: relative;
  background-color: #fafafa;
  text-align: center;
  width: 100%;
  padding: 20px 0;
  height: auto;
	.logo, .company, .legal, .social {
		position: relative;
		a:hover {color: rgba(0,0,0,.2);}
	}
	.company, .logo {
		margin: 0 auto 20px auto;
		img {height: 80px;}
	}
	.heading {
    font-size: 16px;
    line-height: 42px;
    color: #0e0e0e;
    font-weight: bold;
	}
	.links a{
    font-size: 14px;
    line-height: 28px;
    color: #667093;
    display: block;
    text-align: center;
    text-decoration: none;
	}
	.social {
    margin-top: 50px;
		a {
	    color: #16e2a5;
	    font-size: 26px;
	    text-decoration: none;
	    margin: 0 20px;
		}
	}
}
@media (min-width: 900px) {
	#footer {
		left: calc(50vw - 450px);
		width: 900px;
		border-top: 1px solid #e8e9ef;
		background-color: white;
		text-align: left;
		width: 900px;
		padding: 40px 0;
		display: flex;
		margin: 150px 0 0 0;
		.logo {margin: 0;}
		.company {margin: 0 60px 0 120px;}
		.legal {margin: 0 120px 0 60px;}
		.social {
			position: absolute;
			right: 0;
			top: 40px;
			margin-top: 0;
			a {
				color: #16e2a5;
        font-size: 26px;
        text-decoration: none;
        margin: 0 20px;
			}
		}
		.links a {text-align: left;}
	}
}
@media (min-width: 1300px) {
	#footer {
		left: calc(50vw - 600px);
		width: 1200px;
		margin: 50px 0 0;
		.company {margin: 0 100px 0 200px;}
		.legal {margin: 0 200px 0 100px;}
	}
}
.btn {
  display: inline-block !important;
	font-family: 'Nunito', sans-serif;
	box-sizing: border-box;
  height: 35px !important;
  line-height: 35px !important;
  border-radius: 17.5px !important;
  font-size: 14px !important;
  padding: 0 24px !important;
  text-decoration: none !important;
  font-weight: 900 !important;
	cursor: pointer;
}
.btn-green,
.btn-white:hover {
  background-color: #16e2a5 !important;
  color: white !important;
  border: none;
}
.btn-green:hover,
.btn-white {
    background-color: white !important;
    color: #16e2a5 !important;
    border: 1px solid #16e2a5 !important;
}
.cookie-pop-up {
	position: fixed;
	bottom: 0;
	left: 0;
	line-height: 20px;
	width: 100%;
	background-color: rgba(0,0,0,.5);
	z-index: 1000;
	text-align: left;
	color: white;
	font-weight: bold;
	padding: 0 1vh;
	min-height: 50px;
	.text {
		margin: 15px 0 15px 10px;
		float: left;
		max-width: calc(100% - 115px);
	}
	a {color: white;}
	.cookie-btn {
		position: absolute;
		bottom: 10px;
		right: 30px;
		border-radius: 0;
		background-color: white;
		color: black;
		height: 30px;
		line-height: 30px;
		font-size: 10px;
		text-decoration: none;
		width: 80px;
		text-align: center;
		align-self: center;
	}
	.cookie-btn:hover {
		color: white;
		background-color: darkgray;
	}
}
.switch-box {
	width: 100%;
	line-height: 20px;
	input[type='checkbox'] {
		position: absolute;
		position: absolute;
		opacity: 0;
	}
	.custom-control-label {
		background-color: white;
		position: relative;
		float: left;
		width: 18px;
		height: 18px;
		border-radius: 5px;
		border: 1px solid #dfe1e5;
		margin-right: 5px;
		cursor: pointer;
		.fas {
			display: none;
			color: white;
			text-align: center;
			line-height: 18px;
		}
	}
	.custom-control-input:checked ~ .custom-control-label {
		background-color: #16e2a5;
		.fas {display: block;}
	}
}
.register-pop-up {
	animation-name: fadeOut;
	animation-duration: 1s;
	animation-delay: 5s;
	animation-fill-mode: forwards;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, .5);
	z-index: 2000;
	.karte {
		position: relative;
		top: calc(50% - 100px);
		height: auto;
		width: 500px;
		max-width: 80vw;
		background-color: white;
		border-radius: 8px;
		box-shadow: 0px 0.6vh 2.2vh 0 rgba(172, 172, 172, 0.1);
		text-align: center;
		padding: 10px 10px 40px;
		margin: auto;
		h2 {border-bottom: 1px solid #dfe1e5;}
	}
}
a {outline: 0;}
#devise_form {
	text-align: center;
	.form-group {
		width: 300px;
		margin: 0 auto;
		label {
			line-height: 18px;
			text-align: center;
		}
	}
	.links {
		width: 300px;
		margin: 0 auto;
	}
	h2 {font-size: 32px;}
}
.fullscreen-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, .8);
  z-index: 101;
	.bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
	}
	.close {
    position: absolute;
    right: 0;
    top: 0;
    height: 60px;
    width: 60px;
    line-height: 60px;
    font-size: 40px;
    text-align: center;
    color: #667093;
		cursor: pointer;
		a {
	    color: #667093;
	    text-decoration: none;
		}
	}
	.card {
    background-color: white;
    border-radius: 8px;
    border-color: #667093;
    margin: auto;
		margin-top: calc(50vh - 153px);
    text-align: center;
    z-index: 200;
    width: 280px;
    padding: 10px;
    text-decoration: none;
		.form-group.center .btn {width: 100%;}
		.form-group .right {
    	float: right;
			a {
		    color: #16e2a5;
		    text-decoration: none;
			}
		}
	}
}
.s310 {
	width: 310px;
	height: 310px;
}
.s153 {
  width: 153px;
  height: 153px;
}
.s87 {
  height: 87px;
  width: 87px;
}
.dots {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  padding: 30px 0;
	.dot {
    position: relative;
    left: calc(50% - 25px);
    margin: 20px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #1babf0;
	}
	.dot.green {background-color: #16e2a5;}
}
.dots.margin-top {padding: 20px 0 40px;}
.form-group {
    padding: 5px 0;
		label {float: left;}
		.error {
		  float: right;
		  color: red;
		}
		.form-field {
		    position: relative;
		    width: calc(100% - 20px);
		    height: 40px;
		    border-radius: 8px;
		    border: solid 1px #dfe1e5;
		    line-height: 40px;
		    font-size: 16px;
		    font-weight: 300;
		    padding: 5px 10px;
		    margin: 0;
		}
		.form-field.message {
		  height: 140px;
		  line-height: 20px;
		  padding: 10px;
		}
}
.form-group.center {
  padding-top: 20px;
  text-align: center;
}
@media (min-width: 500px) {
	.fullscreen-modal .card {
    margin-top: calc(50vh - 150px);
    width: 300px;
    padding: 10px 50px 20px;
  }
	.fullscreen-modal#loginModal .card {
		padding-bottom: 30px;
	}
	.form-group.l1,
  .form-group.l2 {
    float: left;
    width: calc(50% - 10px);
    padding-bottom: 10px;
  }
  .form-group.l21,
  .form-group.l22 {
    float: left;
    width: calc(25% - 10px);
    padding-bottom: 10px;
  }
  .form-group.l2,
  .form-group.l21 {
    margin-left: 20px;
  }
  .form-group.l22 {
    margin-left: 10px;
  }
}
@media (min-width: 900px) {
	#shape1 {
    display: block;
    left: -269px;
    top: 300px;
		z-index: -10;
  }
  #shape2 {
    display: block;
    left: 100px;
    top: 366px;
  }
}
@media (min-width: 1100px) {
	#shape1 {
    display: block;
    top: 500px;
    left: -219px;
  }
  #shape2 {
    display: block;
    top: 566px;
    left: 150px;
  }
}
@media (min-width: 1300px) {
	body {
    max-width: 100%;
    overflow-x: hidden;
  }
	#shape1 {
		top: 150px;
    left: -290px;
		opacity: .5;
  }
  #shape2 {
		top: 510px;
  	left: -200px;
  }
  #shape3 {
    display: block;
    top: 900px;
    left: 1170px;
  }
  #shape4 {
    display: block;
    top: 1130px;
    left: 1081px;
  }
  #shape5 {
    display: block;
    top: 2300px;
    left: 0px;
  }
  #shape6 {
    display: block;
    top: 2600px;
    left: 1200px;
    z-index: -10;
  }
  #shape7 {
    display: block;
    top: 2500px;
    left: 1200px;
    z-index: -10;
  }
  #shape8 {
    display: block;
    top: 3200px;
    left: -50px;
    z-index: -10;
  }
  #shape9 {
    display: block;
    top: 4200px;
    left: 1100px;
    z-index: -10;
  }
}
