/*
 *= require barack
 *= require rangeslider
  *= require perfect-scrollbar
 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import 'font-awesome-sprockets';
@import 'font-awesome';

body {
	position: fixed;
	font-family: 'Barack-Medium';
	height: 100vh;
	width: 100vw;
	margin: 0;
	overflow: hidden;
	background-color: #f4faff;
}
#navbar {
	position: fixed;
	top: 0;
	left: 0;
	line-height: 40px;
	width: 100vw;
	font-size: 20px;
	text-align: center;
	color: rgb(var(--custcolor));
	box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.15);
	background-color: white;
	z-index: 1200;
	.nav-i {
		position: absolute;
		box-sizing: border-box;
		right: 35px;
		margin: 5px;
		line-height: 30px;
		width: 30px; height: 30px;
		font-size: 15px;
		color: rgb(var(--custcolor));
		border-radius: 50%;
		border: 1px solid rgb(var(--custcolor));
		text-decoration: none;
	}
	.logo, .company {
		position: absolute;
		margin: 10px;
		height: 20px;
	}
	.logo {left: 0;}
	.company {right: 0;}
	.objection-btn {
		position: absolute;
		display: block;
		box-sizing: border-box;
		top: 0; right: 0;
		height: 30px; width: 30px;
		margin: 5px;
		border-radius: 50%;
		border: 1px solid rgb(var(--custcolor));
		padding: 7px 0;
		cursor: pointer;
		span {
			display: block;
			background-color: rgb(var(--custcolor));
			width: 18px;
			height: 2px;
			margin: 2px 5px;
			border-radius: 1px;
		}
	}
}
#objections-menu {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(255,255,255,.9);
	z-index: 2000;
	.nav {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 5%;
		.fa-times {
			position: absolute;
			right: 1vh;
			top: 1vh;
			color: rgb(var(--custcolor));
			font-size: 3vh;
			cursor: pointer;
		}
	}
	.objections {
		position: absolute;
		top: 5%;
		width: 100%;
		height: 95%;
		overflow: auto;
		span {
			display: block;
			text-align: center;
			margin: 0 5vw;
			width: 90vw;
			padding: 3vh 0;
			font-size: 3vh;
			color: rgb(var(--custcolor));
			border-bottom: 1px solid gray;
		}
	}
}
#content {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	color: gray;
	animation-name: fadeIn;
	animation-duration: .5s;
	animation-iteration-count: 1;
	z-index: 1000;
	.head {
		position: absolute;
		margin-top: calc(5vh + 40px);
		width: 100%;
		text-align: center;
		h1 {
			margin: 0 5vw 0;
			width: 90vw;
			font-size: 25px;
		}
		h3 {
			margin: 1vh 5vw 0;
			width: 90vw;
			font-size: 15px;
			font-weight: normal;
		}
	}
	.middle {
		position: absolute;
		height: 50%;
		top: 25%;
		width: 100%;
		text-align: center;
		line-height: 10vh;
		.emojis {
			position: absolute;
			top: calc(50% - 15vw);
			left: 5vw;
			height: 15vw;
			width: 90vw;
			.emoji {
				float: left;
				border-radius: 50%;
				line-height: 12vw;
				font-size: 8vw;
				text-align: center;
				background-color: white;
				height: 12vw; width: 12vw;
				margin: 1.5vw;
				box-shadow: 0 0.5vh 2vh 0 rgba(107,107,107,0.1);
			}
			.emoji_send {
				animation: emoji .15s 1 forwards;
			}
		}
		.text span {
			font-size: 5vh;
		}
		img {
			position: relative;
			top: calc(50% - 25vw);
			width: 45vw;
			height: 45vw;
			border-radius: 50%;
			border: 1.5vw solid rgb(var(--custcolor));
			box-shadow: 0 0 0 0 rgba(var(--custcolor), 1);
		}
		label#mid-img {
			position: absolute;
			top: 0; left: 0;
			height: 100%; width: 100%;
		}
		#avatar-img {
			position: absolute;
			border: none !important;
			width: 47vw; height: 47vw;
			top: calc(50% - 28.5vw); left: 26.5vw;
			margin-top: 0;
		}
		#avatar-svg {
			position: absolute;
			top: calc(50% - 30vw); left: 25vw;
			width: 50vw; height: 50vw;
			border-radius: 50%;
		}
		#avatar-svg.loading {
			animation: rotate 2s infinite;
			circle {
				stroke-dasharray: 50;
			}
		}
		.circle-left,
		.circle-right {
			float: left;
			width: 50%;
			height: 100%;
			a {
				display: block;
				position: relative;
				left: 0; top: 0;
				height: 100%; width: 100%;
			}
			img {
				position: relative;
				top: calc(50% - 20vw);
				width: 37vw;
				height: 37vw;
				border-radius: 50%;
				border: 1.5vw solid rgb(var(--custcolor));
			}
		}
		.switch {
			position: absolute;
			bottom: 0;
			width: 100%;
			opacity: 0;
			animation-name: opacity;
			animation-duration: 1s;
			animation-delay: .5s;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;
			input:checked ~ label .checkbox {
				background-color: rgb(var(--custcolor));
				.dot {
					left: 1.75vh;
					border-color: rgb(var(--custcolor));
				}
			}
			input {display: none}
			label {
				display: block;
				width: 60%;
				margin: 0 auto;
				height: 5vh;
				text-align: center;
				.checkbox {
					position: relative;
					display: inline-block;
					float: left;
					margin: 1.5vh 1vw;
					height: 2vh;
					width: 4vh;
					border-radius: 2vh;
					background-color: white;
					border: 1px solid gray;
					.dot {
						position: absolute;
						left: calc(-.25vh - 1px);
						top: calc(-.25vh - 1px);
						height: 2.5vh;
						width: 2.5vh;
						border-radius: 50%;
						background-color: white;
						border: 1px solid gray;
					}
				}
				.text {
					margin: 0;
					line-height: 2.5vh !important;
					font-size: 1.5vh;
				}
			}
		}
		.switch.reverse {
			opacity: 0;
			animation-name: opacity;
			animation-duration: 1s;
			animation-delay: .5s;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;
			label .checkbox {
				background-color: rgb(var(--custcolor));
				.dot {
					left: 1.75vh;
					border-color: rgb(var(--custcolor));
				}
			}
			input:checked ~ label .checkbox {
				background-color: white;
				.dot {
					left: calc(-.25vh - 1px);
					border-color: gray;
				}
			}
		}
		.form-group {
			position: relative;
			text-align: center;
			width: 100%;
			line-height: 40px;
			i.far {
				position: absolute;
				right: 0;
				top: .25vh;
				margin: .25vh 12vw.25vh 0;
				height: 5vh;
				line-height: 5vh;
				font-size: 3vh;
				background-color: transparent;
				color: rgb(var(--custcolor));
				border: none;
			}
			.rangeVal {
				float: right;
				margin-right: 10vw;
				font-size: 3vh;
				line-height: 5vh;
			}
			.rangeLabel {
				float: left;
				margin-left: 10vw;
				max-width: calc(80vw - 6.5vh);
				font-size: 3vh;
				text-align: left;
				line-height: 5vh;
				height: 5vh;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
			.rangeslider {
				float: left;
				margin: 15px 10vw;
				height: 10px;
				width: 80vw;
			}
			.rangeslider__fill {
				background-image: linear-gradient(to right, #ff6b6c 0%, #fefbc6 50%, #1ddaaf 100%);
				background-size: 80vw auto;
			}
			.rangeslider__handle {
				top: -10px!important;
				width: 30px;
				height: 30px;
				background-image: image_url('wolfhead-tab.png') !important;
				background-color: transparent;
				border: .5px solid rgb(var(--custcolor));
				box-shadow: 0 0 0 rgba(0, 0, 0, 0)
			}
			.form-field {
				font-family: 'Nunito', sans-serif !important;
				display: inline-block;
				position: relative;
				top: 0;
				line-height: 40px;
				height: 40px;
				font-size: 15px;
				color: #212529;
				background-color: white;
				width: calc(80vw - 10px);
				margin: 0 10vw;
				border: none;
				border-radius: .8vh;
				padding: 0 5px;
				box-shadow: 0 0.5vh 2vh 0 rgba(107,107,107,0.1);
			}
			.form-field::placeholder {
				font-family: 'Nunito', sans-serif  !important;
				color: #212529;
				opacity: .4;
			}
			.form-field.red {
				border: 1px solid red;
			}
			.form-field.red::placeholder {
				color: red;
				opacity: 1;
			}
			.radio-label {
				display: inline-block;
				line-height: 5vh;
				padding: 1vh;
				border-radius: 5vh;
				font-size: 2vh;
				cursor: pointer;
				border: 6px solid white;
			}
			.radio-label {
				margin: 5vh 0;
			}
			input[type=radio] {display: none}
			input[type=radio]:checked ~ .radio-label {
				border-color: #1ddaaf;
    			box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
			}
		}
		.form-group.single-line {
			margin-top: calc(25vh - 20px);
		}
		.form-group.two-line:first-child {
			margin-top: calc(25vh - 50px);
			margin-bottom: 20px;
		}
	}
	.dots {
		height: 12vh;
		width: 100%;
		position: absolute;
		top: calc(75% - 6vh);
		text-align: center;
		.dot {
			position: relative;
			height: 1vh;
			width: 1vh;
			margin: 2vh auto;
			border-radius: 50%;
			background-color: rgb(var(--custcolor));
		}
		.dot:first-child {opacity: .2};
		.dot:nth-child(2) {opacity: .5};
		.dot:last-child {opacity: .65};
	}
	.bottom {
		position: fixed;
		bottom: 0;
		height: 90px;
		width: 100%;
		text-align: center;
		.form-group {
			position: absolute;
			bottom: 0;
			text-align: center;
			width: 100%;
			line-height: 5vh;
			i.far {
				position: absolute;
				right: 0; bottom: 0;
				height: 50px; width: 50px;
				line-height: 50px;
				font-size: 20px;
				background-color: transparent;
				color: rgb(var(--custcolor));
				opacity: .4;
				border-left: 1px solid rgba(0,0,0,.1);
			}
			.form-field {
				font-family: 'Nunito', sans-serif !important;
				display: inline-block;
				position: relative;
				top: 0;
				line-height: 5vh;
				height: 50px;
				font-size: 15px;
				color: #212529;
				background-color: white;
				width: 100%;
				margin: 0;
				border: none;
				padding: 0 1vh 0 1vh;
				box-shadow: 0 0.5vh 2vh 0 rgba(107,107,107,0.1);
			}
			.form-field::placeholder {
				font-family: 'Nunito', sans-serif  !important;
				color: #212529;
				opacity: .4;
			}
			.form-field.red {
				border: 1px solid red;
			}
			.form-field.red::placeholder {
				color: red;
				opacity: 1;
			}
			.radio-label {
				display: inline-block;
				line-height: 5vh;
				padding: 1vh;
				border-radius: 5vh;
				font-size: 2vh;
				cursor: pointer;
				border: 6px solid white;
			}
			.radio-label {
				margin: 5vh 0;
			}
			input[type=radio] {display: none}
			input[type=radio]:checked ~ .radio-label {
				border-color: #1ddaaf;
    			box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
			}
		}
	}
}
.btn {
	display: inline-block;
	box-sizing: border-box;
	height: 35px;
	min-width: 80vw;
	line-height: 35px;
	font-size: 15px;
	border-radius: 17.5px;
	padding: 0 5px;
	color: white;
	border: 1px solid rgb(var(--custcolor));
	cursor: pointer;
	text-decoration: none;
	font-family: 'BarackPro-Solid' !important;
	background-color: rgb(var(--custcolor));	
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
}
.btn.inverted {
	color: rgb(var(--custcolor));
	background-color: white;
	margin-bottom: 1vh;
}
.pulse {
	animation: pulse 1.5s infinite;
}
.popup {
	position: fixed;
	top: calc(50vh - 100px);
	left: calc(50vw - 150px);
	height: 200px;
	width: 300px;
	background-color: white;
	border-radius: 15px;
	color: black;
	.close {
		position: absolute;
		right: 0;
		top: 0;
		line-height: 30px;
		text-align: center;
		width: 30px;
		font-size: 20px;
		color: rgba(0, 0, 0, .5);
	}
	h1 {
		text-align: center;
	}
	.text {
		width: 250px;
		padding: 0 25px;
	}
}
@keyframes pulse {
	0% {transform: scale(1, 1)}
	70% {
		box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
		transform: scale(1.1, 1.1);
	}
	100% {
		box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
		transform: scale(1, 1);
	}
}
@keyframes fadeIn {
	from {
		top: -50vh;
		opacity: 0;
	}
}
@keyframes opacity {
	to {
		opacity: 1;
	}
}
@keyframes emoji {
	0% {transform: scale(1, 1)}
	70% {
		box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
		transform: scale(1.1, 1.1);
	}
	100% {
		box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
		transform: scale(1, 1);
	}
}
@keyframes rotate {
	to {
		transform: rotate(360deg);
	}
}
*:focus {outline: none;}
