/*
 *= require barack
 *= require rangeslider
 *= require perfect-scrollbar
 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import 'font-awesome-sprockets';
@import 'font-awesome';

body {
	position: fixed;
	font-family: 'Barack-Medium';
	height: 100vh;
	width: 100vw;
	margin: 0;
	overflow: hidden;
	background-color: #f4faff;
}
#navbar {
	position: fixed;
	top: 0;
	left: 0;
	line-height: 40px;
	width: 100vw;
	font-size: 20px;
	text-align: center;
	color: rgb(var(--custcolor));
	box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.15);
	background-color: white;
	z-index: 1200;
	.nav-i {
		position: absolute;
		box-sizing: border-box;
		right: 5px;
		margin: 5px;
		line-height: 30px;
		width: 30px; height: 30px;
		font-size: 15px;
		color: rgb(var(--custcolor));
		border-radius: 50%;
		text-decoration: none;
	}
	.logo, .company {
		position: absolute;
		margin: 10px;
		height: 20px;
	}
	.logo {left: 0;}
	.company {right: 0;}
	.menu {
		position: absolute;
		display: block;
		top: 0; right: 0;
		height: 25px; width: 25px;
		padding: 7.5px 5px;
		cursor: pointer;
		.dot {
			position: relative;
			height: 5px; width: 5px;
			margin: 2px 3.5px;
			border-radius: 50%;
			background-color: rgb(var(--custcolor));
		}
	}
}
.close {
	position: absolute;
	right: 0;
	top: 0;
	margin: 10px;
	height: 25px;
	color: rgba(0, 0, 0, .5);
}
#rating-menu,
#menu,
#objections-menu,
#comment-popup,
#nav-menu,
#user-name,
#user-new,
#task_user-menu,
#user-menu,
#bestlist-menu {
	display: none;
	position: fixed;
	top: 0;right: 0;
	height: 100%;width: 90%;
	max-width: 540px;
	background-color: rgba(255,255,255,1);
	z-index: 2000;
	box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.15);
	.nav {
		position: absolute;
		top: 0; left: 0;
		width: 100%; height: 10vw;
		.logo {
			position: absolute;;
			top: 0; left: 0;
			margin: 3vw;
			height: 8vw;
		}
		.back {
			position: absolute;
			top: 0;left: 0;
			text-align: centers;
			line-height: 10vw; font-size: 3vw;
			color: rgb(var(--btncolor));
			i {margin: 0 2vw;}
		}

	}
	.content {
		position: absolute;;
		top: 10vw; left: 0;
		height: calc(100% - 10vw); width: 100%;
		overflow-y: scroll;
		overflow-x: hidden;
		.heading {
			position: relative;
			margin-top: 0;
			top: 0;left: 0;
			height: 10vw;width: 100%;
			line-height: 10vw; text-align: center;
			font-size: 6vw;
		}
		.subheading {
			height: auto; width: 90%;
			left: 5%;
			line-height: 5vw;
			font-size: 3vw;
			text-align: center;
			border-radius: 50%;
			margin-bottom: 5vw;
		}
		.emojis {
			position: absolute;
			top: calc(50% - 15vw);
			left: 5vw;
			height: 15vw;
			width: 80vw;
			.emoji {
				float: left;
				border-radius: 50%;
				line-height: 11vw;
				font-size: 7vw;
				text-align: center;
				background-color: white;
				height: 11vw; width: 11vw;
				margin: 1vw;
				box-shadow: 0 0.5vh 2vh 0 rgba(107,107,107,0.1);
			}
			.emoji_send {
				animation: emoji .15s 1 forwards;
			}
		}
		.link.selected {
			background-color: rgba(var(--custcolor), .05);
		}
		.link {
			position: relative;
			height: auto;
			width: 100%;
			text-align: center;
			border-bottom: 1px solid rgba(0,0,0,.5);
			.preview {
				position: relative;
				width: 75vw;
				height: 42vw;
				margin: 0 calc(50% - 37.5vw);
				img {
					width: 75vw;
					height: 42vw;
					border: 1px solid rgba(0,0,0,.2);
				}
				.is_task {
					position: absolute;
					top: 1vw; left: -5vw;
					height: 8vw; line-height: 8vw;
					padding: 0 2vw; border-radius: 4vw;
					line-height: 8vw; font-size: 3vw;
					color: white; background-color: rgba(var(--custcolor), .9);
				}
				.user, .slide {
					position: absolute;
					height: 8vw; width: 8vw;
					line-height: 8vw;
					padding: 0;
					font-size: 3vw;
					border-radius: 50%;
					box-shadow: 0 0.5vh 2vh 0 rgba(107,107,107,0.1);
					z-index: 2010;
					color: white;
					left: -4vw;
					img {
						height: 8vw; width: 8vw; border-radius: 50%;
					}

				}
				.slide {
					top: 1vw;
					background-color: rgba(var(--custcolor), .9);
				}
				.user {
					top: auto;
					bottom: 0;
					background-color: #00232a;
					font-size: 4vw;
					font-weight: bold;
					margin-bottom: 0;
				}
			}
			.title {
				position: relative;
				top: 0;left: 0;
				height: 5vw;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				width: calc(100% - 6vw);
				line-height: 5vw; font-size: 4vw;
				text-align: center;
				padding: 3vw;
			}
			.links {
				position: relative;
				height: 50px; width: 100%;
				margin: 2vw 0;
				.jump {
					right: 5vw;
				}
				.jump.center {
					right: 27.5vw;
				}
				.user {
					left: 5vw;
					background-color: white;
					color: rgba(var(--btncolor));
					padding: 0;
				}
				.user, a {
					position: absolute;
					top: 6.5px;
					height: 35px; width: 35vw;
					border-radius: 18px;
					border: 1px solid rgb(var(--btncolor));
					background-color: rgb(var(--btncolor));color: white;
					line-height: 35px; font-size: 12px;
					text-align: center; text-decoration: none;
					box-shadow: 0 0.5vh 2vh 0 rgba(107,107,107,0.1);
				}
			}
		}
		.user {
			position: relative;
			padding: 5px 0;
			height: auto; width: 100%;
			top: 0;left: 0;
			height: 30px;
			border-top: 0px solid rgba(0, 35, 42, .2);
			span {
				font-size: 12px;
				color: rgba(0,0,0,.5);
			}
			.avatar {
				position: absolute;;
				left: 0;
				margin: 0 10px;
				height: 30px;width: 30px;
				svg, .circle, img {
					height: 100%; width: 100%;
					border-radius: 50%;
					color: white;
					line-height: 30px; font-size: 16px;
					text-align: center;
				}
				.circle {background-color: #00232a;}
			}
			.rating {
				position: absolute;
				left: auto; right: 0; top: 0;
				height: 30px; width: 50px;
				line-height: 30px; text-align: center;
				cursor: pointer;
				text-decoration: none;
				font-size: 20px;
			}
			.objection,
			.name {
				position: absolute;
				left: 50px; top: 0;
				height: 40px;
				width: calc(100% - 100px);
				overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
				line-height: 40px;
				text-align: left;
			}
			.objection { font-size: 15px; }
			.name { font-size: 15px;}
			.exit-user, .add-user, .remove-user {
				position: absolute;
				left: auto; right: 0; top: 0;
				height: 10vw; width: 10vw;
				line-height: 10vw; text-align: center;
				cursor: pointer;
				text-decoration: none;
				color: rgb(var(--btncolor));
				font-size: 3vw;
			}
			.exit-user {
				color: rgba(0,0,0,.2);
				font-size: 5vw;
			}
			.next {
				position: absolute;
				display: inline-block;
				right: 0;
				margin: 0 10px;
				height: 30px;
				.far {
					color: rgb(var(--btncolor));
				}

			}
			.radio-circle {
				position: absolute;
				right: 0;
				margin: 5px 10px;
				height: 16px;
				width: 16px;
				border-radius: 50%;
				border: 2px solid gray;
				.dot {
					position: absolute;
					margin: 3px;
					height: 10px; width:10px;
					border-radius: 50%;
				}
			}
			.radio-circle.off .dot {background-color: rgba(0,0,0,0);}
			.radio-circle.on{
					border-color: rgb(var(--btncolor));
					.dot {background-color: rgb(var(--btncolor));}
			}
			.next_objection {
				position: absolute;
				display: inline-block;
				right: 0;
				margin: 5px 10px;
				height: 20px;
			}
			a {
				position: absolute;
				left: 0; right: 0;
				height: 100%; width: 100%;
			}
		}
		.user:last-child {border-bottom: 0px solid rgba(0, 35, 42, .2);}
		.user#toggle_sound,
		.user#toggle_rating_timer,
		.user#toggle_rating_skip,
		.user#toggle_rating {
			margin-left: 10px;
			line-height: 30px;
			font-size: 15px;
			.toggle {
				position: absolute;
				display: inline-block;
				right: 5px;
				margin: 9px 10px;
				height: 10px;
				border-radius: 7.5px;
				width: 30px;
				background-color: white;
				border: 1px solid gray;
				.dot {
					position: absolute;
					top: -3.5px;
					height: 15px; width: 15px;
					border-radius: 50%;
					background-color: white;
					border: 1px solid gray;
				}
			}
			.toggle.on {
				background-color: rgb(var(--btncolor));
				border-color: transparent;
				.dot {
					right: -2px; left: auto;
					border-color: rgb(var(--btncolor))
				}

			}
			.toggle.off {
				.dot {right: auto; left: -2px}
			}
		}
		.ratings .user {
			color: rgba(0,0,0,.6);
			.avatar {margin-left: 60px;}
			.name {left: 100px; width: calc(100% - 150px)}
		}
	}
}
#comment-menu {
	position: fixed;
	bottom: 150px; right: 1vw;
	height: 12.5vw; width: 12.5vw;
	border-radius: 50%;
	box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.30);
	line-height: 12.5vw; text-align: center;
	color: white; background-color: rgb(var(--custcolor));
	z-index: 2000;
}
#comment-popup {
	.form-group {
		position: absolute;
		bottom: 0;
		text-align: center;
		width: 100%;
		line-height: 5vh;
		.max-size {
			line-height: 15px;
			color: rgba(0,0,0,.5);
			font-size: 10px;
		}
		i.far {
			position: absolute;
			right: 0; bottom: 0;
			height: 50px; width: 50px;
			line-height: 50px;
			font-size: 20px;
			background-color: transparent;
			color: rgb(var(--custcolor));
			opacity: .4;
			border-left: 1px solid rgba(0,0,0,.1);
		}
		.form-field {
			font-family: 'Nunito', sans-serif !important;
			display: inline-block;
			position: relative;
			top: 0;
			line-height: 5vh;
			height: 50px;
			font-size: 15px;
			color: #212529;
			background-color: white;
			width: 100%;
			margin: 0;
			border: none;
			padding: 0 1vh 0 1vh;

			border-top: 1px solid rgba(var(--custcolor),.5);
		}
		.form-field::placeholder {
			font-family: 'Nunito', sans-serif  !important;
			color: #212529;
			opacity: .4;
		}
		.form-field.red {
			border-color: red;
		}
		.form-field.red::placeholder {
			font-size: 12px;
			color: red;
			opacity: 1;
		}
	}
}
#task_user-menu,
#user-name {
	display: block;
}
#user-name,
#user-new,
#user-menu {
	form {
		position: absolute;
		height: calc(100% - 15vw); width: 100%;
		top: 15vw; left: 0;
	}
	.form-group {
		position: relative;
		text-align: center;
		width: 100%;
		line-height: 40px;
		i.far {
			position: absolute;
			right: 10%;
			top: 0;
			margin: 0;
			height: 40px;
			line-height: 40px;
			font-size: 20px;
			width: 40px;
			opacity: .4;
			background-color: transparent;
			color: rgb(var(--custcolor));
			border: none;
		}
		.form-field {
			font-family: 'Nunito', sans-serif !important;
			display: inline-block;
			position: relative;
			line-height: 40px;
			height: 40px;
			font-size: 15px;
			color: #212529;
			background-color: white;
			width: calc(80% - 10px);
			margin: 0 10% 5px;
			border: none;
			border-radius: .8vh;
			padding: 0 5px;
			box-shadow: 0 0.5vh 2vh 0 rgba(107,107,107,0.1);
		}
		.form-field::placeholder {
			font-family: 'Nunito', sans-serif  !important;
			color: #212529;
			opacity: .4;
		}
	}
	.form-group.bottom {
		position: absolute;
		top: auto; bottom: 20px;
		width: 100%;
		text-align: center;
		.btn {
			display: inline-block;
			margin: 0;
		}
	}
	.form-group.single-line {
		position: absolute;
		top: calc(50% - 20px - 15vw);
	}
	.form-group#group_fname {
		position: absolute;
		top: calc(50% - 50px - 15vw);
	}
	.form-group#group_lname {
		position: absolute;
		top: calc(50% - 15vw);
	}
}
.flash-alert {
	position: absolute;
	top: calc(50vh - 50px);
	left: calc(50% - 150px);
	margin: 0 auto; width: 300px;
	height: 100px;
	background-color: white;
	border: 1px solid rgba(var(--custcolor), 1);
	border-radius: 20px;
	z-index: 2000;
	.heading {
		min-height: 40px;
		width: 100%;
		font-size: 30px;
		line-height: 40px;
		text-align: center;
	}
	.text {
		width: 280px;
		margin: 0 10px;
		text-align: center;
		font-size: 16px;
		line-height: 30px;
	}
}
.addTime {
	position: absolute;
	bottom: 70px;
	right: 10px;
	text-align: center;
	height: 60px;
	width: 280px;
	z-index: 2000;
	.time {
		position: absolute;
		right: 10px;
		top: 0;
		line-height: 60px;
		height: 60px; width: 60px;
		font-size: 30px;
		border-radius: 50%;
		color: white; background-color: rgb(var(--custcolor));
		box-shadow: 0 0 1.5rem rgba(0,0,0,.30);
	}
	#add10s {left: 0px;}
	#add20s {left: 70px;}
	#add30s {left: 140px;}
	#add10s, #add20s, #add30s {
		display: none;
		position: absolute;
		top: 5px;
		line-height: 50px;
		height: 50px; width: 50px;
		border-radius: 50%;
		color: white; background-color: rgb(var(--custcolor));
		box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.30);
		a {
			position: absolute;;
			height: 100%; width: 100%;
			left: 0; top: 0;
		}
	}
}
#menu {
	.link {
		padding: 5px 50px;
		width: calc(100% - 100px) !important;
		top: calc(25% - 40px);
		line-height: 30px;
		color: #0e0e0e; font-weight: 100;
		font-size: 15px; text-align: left !important;
		border-bottom: none !important;
		.icon {
			display: inline-block;
			position: absolute;
			left: 0;
			height: 30px;
			margin: 0 10px;
		}
		.next {
			position: absolute;
			display: inline-block;
			right: 0;
			margin: 0 10px;
			height: 30px;
		}
		a{
			position: absolute;
			top: 0; left: 0;
			height: 100%; width: 100%;
		}
	}
	.link.end-pitch {
		position: absolute;
		top: auto;
		bottom: 40px;
	}
	.link.end {
		position: absolute;
		top: auto;
		bottom: 0;
	}
}
.noanim {animation: none !important;}
#content {
	position: fixed;
	top: 0;
	margin: 0 auto;
	height: 100%;
	width: 100%;
	max-width: 600px;
	color: gray;
	animation-name: fadeIn;
	animation-duration: .5s;
	animation-iteration-count: 1;
	z-index: 1000;

	.head#choose-head {
		animation: fadeIn .5s 1 forwards;
	}

	.head {
		position: absolute;
		margin-top: calc(5vh + 40px);
		width: 100%;
		text-align: center;
		h1 {
			margin: 0 auto;
			width: 90%;
			font-size: 25px;
		}
		h3 {
			margin: 1vh auto 0;
			width: 90%;
			font-size: 15px;
			font-weight: normal;
		}
	}
	.middle#choose-middle {
		animation: fadeIn .5s 1 forwards;
	}
	.middle#task-middle {
		display: flex;
		.card {
			align-self: center;
			background-color: white;
			box-shadow: 0 0.5vh 2vh 0 rgba(107,107,107,0.1);
			text-align: center;
			border-radius: 1vw;
			text-align: center;
			width: 80vw;
			margin: 0 10vw;
			line-height: 4vh;
			padding: 2vw;
		}
	}
	.middle {
		position: absolute;
		height: 50%;
		top: 25%;
		width: 100%;
		text-align: center;
		line-height: 10vh;
		.emojis {
			position: absolute;
			top: calc(50% - 15vw);
			left: 5vw;
			height: 15vw;
			width: 90vw;
			.emoji {
				float: left;
				border-radius: 50%;
				line-height: 12vw;
				font-size: 8vw;
				text-align: center;
				background-color: white;
				height: 12vw; width: 12vw;
				margin: 1.5vw;
				box-shadow: 0 0.5vh 2vh 0 rgba(107,107,107,0.1);
			}
			.emoji_send {
				animation: emoji .15s 1 forwards;
			}
		}
		.text span {
			font-size: 5vh;
		}
		.icon {
			position: relative;
			height: 20vh; width: 100%;
			top: calc(50% - 15vh); left: 0;
			line-height: 30vh;
			font-size: 25vh;
		}
		.circle,
		img {
			position: relative;
			top: calc(50% - 25vw);
			width: 45vw;
			height: 45vw;
			border-radius: 50%;
			border: 1.5vw solid rgb(var(--custcolor));
			box-shadow: 0 0 0 0 rgba(var(--custcolor), 1);
		}
		.circle {
			left: 25vw;
			line-height: 45vw;
			background-color: #00232a;
			color: white;
			font-size: 25vw;
			text-decoration: none;
		}
		label#mid-img {
			position: absolute;
			top: 0; left: 0;
			height: 100%; width: 100%;
		}
		#avatar-img {
			position: absolute;
			border: none !important;
			width: 47vw; height: 47vw;
			top: calc(50% - 28.5vw); left: 26.5vw;
			margin-top: 0;
		}
		.circle-add {
			line-height: 45vw;
			font-size: 30vw;
			background-color: #00232a;
			color: white;
			border-radius: 50%;
			font-family: 'Nunito';
		}
		#avatar-svg {
			position: absolute;
			top: calc(50% - 30vw); left: 25vw;
			width: 50vw; height: 50vw;
			border-radius: 50%;
		}
		#avatar-svg.loading {
			animation: rotate 2s infinite;
			circle {
				stroke-dasharray: 50;
			}
		}
		.circle-left,
		.circle-right {
			float: left;
			width: 50%;
			height: 100%;
			a {
				display: block;
				position: relative;
				left: 0; top: 0;
				height: 100%; width: 100%;
			}
			.circle,
			img {
				position: relative;
				top: calc(50% - 20vw);
				width: 37vw;
				height: 37vw;
				border-radius: 50%;
				font-size: 20vw;
				line-height: 37vw;
				border: 1.5vw solid rgb(var(--custcolor));
			}
			.circle {
				margin: 0 auto;
			}
		}
		.switch {
			position: absolute;
			bottom: 0;
			width: 100%;
			opacity: 0;
			animation-name: opacity;
			animation-duration: 1s;
			animation-delay: .5s;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;
			input:checked ~ label .checkbox {
				background-color: rgb(var(--custcolor));
				.dot {
					left: 1.75vh;
					border-color: rgb(var(--custcolor));
				}
			}
			input {display: none}
			label {
				display: block;
				width: 60%;
				margin: 0 auto;
				height: 5vh;
				text-align: center;
				.checkbox {
					position: relative;
					display: inline-block;
					float: left;
					margin: 1.5vh 1vw;
					height: 2vh;
					width: 4vh;
					border-radius: 2vh;
					background-color: white;
					border: 1px solid gray;
					.dot {
						position: absolute;
						left: calc(-.25vh - 1px);
						top: calc(-.25vh - 1px);
						height: 2.5vh;
						width: 2.5vh;
						border-radius: 50%;
						background-color: white;
						border: 1px solid gray;
					}
				}
				.text {
					margin: 0;
					line-height: 2.5vh !important;
					font-size: 1.5vh;
				}
			}
		}
		.switch.reverse {
			opacity: 0;
			animation-name: opacity;
			animation-duration: 1s;
			animation-delay: .5s;
			animation-iteration-count: 1;
			animation-fill-mode: forwards;
			label .checkbox {
				background-color: rgb(var(--custcolor));
				.dot {
					left: 1.75vh;
					border-color: rgb(var(--custcolor));
				}
			}
			input:checked ~ label .checkbox {
				background-color: white;
				.dot {
					left: calc(-.25vh - 1px);
					border-color: gray;
				}
			}
		}
		.form-group {
			position: relative;
			text-align: center;
			width: 100%;
			line-height: 40px;
			i.far {
				position: absolute;
				right: 10%;
				top: 0;
				margin: 0;
				height: 40px;
				line-height: 40px;
				font-size: 20px;
				width: 40px;
				opacity: .4;
				background-color: transparent;
				color: rgb(var(--custcolor));
				border: none;
			}
			.rangeVal {
				float: right;
				margin-right: 10%;
				font-size: 15px;
				line-height: 20px;
			}
			.rangeLabel {
				float: left;
				margin-left: 10%;
				max-width: calc(80% - 40px);
				font-size: 15px;
				text-align: left;
				line-height: 20px;
				height: 20px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
			.rangeslider {
				float: left;
				margin: 15px 10%;
				height: 10px;
				width: 80%;
			}
			.rangeslider__fill {
				background-image: linear-gradient(to right, #ff6b6c 0%, #fefbc6 50%, #1ddaaf 100%);
				background-size: 80vw auto;
			}
			.rangeslider__handle {
				top: -10px!important;
				width: 30px;
				height: 30px;
				background-image: image_url('wolfhead-tab.png') !important;
				background-color: transparent;
				border: .5px solid rgb(var(--custcolor));
				box-shadow: 0 0 0 rgba(0, 0, 0, 0)
			}
			.custom-select {
				margin: 0 10%;
				width: 80%;
				background-color: white;
				border: .1vh solid #dfe1e5;
				height: 40px;
				border-radius: .8vh;
				padding: 0 5px;
				background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
				appearance: none;
				background-color: white;
				-webkit-appearance: none;
				-moz-appearance: none;
				cursor: pointer;
				font-family: 'Nunito', sans-serif !important;
				font-size: 15px;
				color: #495057 !important;
				outline: none !important;
				box-shadow: 0 0.5vh 2vh 0 rgba(107,107,107,0.1);
			}
			.form-field {
				font-family: 'Nunito', sans-serif !important;
				display: inline-block;
				position: relative;
				top: 0;
				line-height: 40px;
				height: 40px;
				font-size: 15px;
				color: #212529;
				background-color: white;
				width: calc(80% - 10px);
				margin: 0 auto;
				border: none;
				border-radius: .8vh;
				padding: 0 5px;
				box-shadow: 0 0.5vh 2vh 0 rgba(107,107,107,0.1);
			}
			.form-field::placeholder {
				font-family: 'Nunito', sans-serif  !important;
				color: #212529;
				opacity: .4;
			}
			.form-field.red {
				border: 1px solid red;
			}
			.form-field.red::placeholder {
				color: red;
				opacity: 1;
			}
			.radio-label {
				display: inline-block;
				line-height: 5vh;
				padding: 1vh;
				border-radius: 5vh;
				font-size: 2vh;
				cursor: pointer;
				border: 6px solid white;
			}
			.radio-label {
				margin: 5vh 0;
			}
			input[type=radio] {display: none}
			input[type=radio]:checked ~ .radio-label {
				border-color: #1ddaaf;
    			box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
			}
		}
		.form-group.single-line {
			margin-top: calc(25vh - 20px);
		}
		.form-group.two-line:first-child {
			margin-top: calc(25vh - 50px);
			margin-bottom: 20px;
		}
	}
	.dots {
		height: 12vh;
		width: 100%;
		position: absolute;
		top: calc(75% - 6vh);
		text-align: center;
		.dot {
			position: relative;
			height: 1vh;
			width: 1vh;
			margin: 2vh auto;
			border-radius: 50%;
			background-color: rgb(var(--custcolor));
		}
		.dot:first-child {opacity: .2};
		.dot:nth-child(2) {opacity: .5};
		.dot:last-child {opacity: .65};
	}
	.leave-feedback {
		width: 100%;
		position: absolute;
		bottom: 12vh;
		text-align: center;
		.btn {
			display: inline-block;
			box-sizing: border-box;
			height: 35px;
			min-width: 80vw;
			line-height: 35px;
			font-size: 15px;
			border-radius: 17.5px;
			padding: 0 5px;
			color: white;
			border: 1px solid rgb(var(--custcolor));
			cursor: pointer;
			text-decoration: none;
			font-family: 'BarackPro-Solid' !important;
			background-color: rgb(var(--custcolor));
			-webkit-appearance: none !important;
			-moz-appearance: none !important;
		}
		.btn.inverted {
			color: rgb(var(--custcolor));
			background-color: white;
			margin-bottom: 1vh;
		}
	}
	.voting {
		position: fixed;
		top: calc(50% - 75px);
		width: 100%;
		text-align: center;
		line-height: 50px;
	}
	.bottom.big {
		height: 135px;
		.btn:last-child {
			margin-top: 1vh;
		}
	}
	.bottom {
		position: absolute;
		bottom: 0;
		height: 90px;
		width: 100%;
		text-align: center;
		.form-group {
			position: absolute;
			bottom: 0;
			text-align: center;
			width: 100%;
			line-height: 5vh;
			i.far {
				position: absolute;
				right: 0; bottom: 0;
				height: 50px; width: 50px;
				line-height: 50px;
				font-size: 20px;
				background-color: transparent;
				color: rgb(var(--custcolor));
				opacity: .4;
				border-left: 1px solid rgba(0,0,0,.1);
			}
			.form-field {
				font-family: 'Nunito', sans-serif !important;
				display: inline-block;
				position: relative;
				top: 0;
				line-height: 5vh;
				height: 50px;
				font-size: 15px;
				color: #212529;
				background-color: white;
				width: calc(100% - 20px);
				margin: 0;
				border: none;
				padding: 0 10px;
				box-shadow: 0 0.5vh 2vh 0 rgba(107,107,107,0.1);
				border-top: 1px solid rgba(var(--custcolor),.5);
			}
			.form-field::placeholder {
				font-family: 'Nunito', sans-serif  !important;
				color: #212529;
				opacity: .4;
			}
			.form-field.red {
				border: 1px solid red;
			}
			.form-field.red::placeholder {
				color: red;
				opacity: 1;
			}
			.radio-label {
				display: inline-block;
				line-height: 5vh;
				padding: 1vh;
				border-radius: 5vh;
				font-size: 2vh;
				cursor: pointer;
				border: 6px solid white;
			}
			.radio-label {
				margin: 5vh 0;
			}
			input[type=radio] {display: none}
			input[type=radio]:checked ~ .radio-label {
				border-color: #1ddaaf;
    			box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
			}
		}
	}
}
@media (min-width: 600px) {
	#content {
		left: calc(50% - 300px);
		.middle {
			.circle,
			img {
				width: 300px; height: 300px;
				top: calc(50% - 155px);
				left: auto;
				border-width: 5px;
				line-height: 300px;
				font-size: 200px;
				margin: 0 auto;
			}
			.circle-left, .circle-right {
				img, .circle {
					top: calc(50% - 155px);
					width: 250px; height: 250px;
					font-size: 180px;
					margin: 0 auto;
					line-height: 250px;
					border: 10px solid rgb(var(--custcolor));
				}
			}
			#avatar-svg {
				height: 310px; width: 310px;
				top: calc(50% - 155px); left: calc(50% - 155px);
			}
			#avatar-img {
				height: 300px; width: 300px;
				line-height: 300px;
				font-size: 200px;
				top: calc(50% - 150px); left: calc(50% - 150px);
			}
			.emojis {
				top: calc(50% - 84px);
				left: 18px;
				width: 504px;
				margin: 0 48px;
				height: 168px;
				.emoji {
					height: 76px; width: 76px;
					line-height: 76px; font-size: 60px;
					margin: 4px;
				}
			}
			.form-group {
				.rangeslider__fill {
					background-size: 540px auto;
				}
			}
		}
	}
	#comment-menu {
		bottom: 50px; right: 50px;
		height: 100px; width: 100px;
		line-height: 100px;
	}
	#menu .nav .logo {
		height: 70px;
		margin: 10px;
	}
	#rating-menu,
	#objections-menu,
	#user-name,
	#user-new,
	#comment-popup,
	#task_user-menu,
	#bestlist-menu,
	#user-menu,
	#nav-menu {
		.nav {
			height: 50px;
			.back {
				line-height: 50px;
				font-size: 18px;
				i {margin: 0 5px}
			}
		}
		.content {
			top: 50px;
			height: calc(100% - 50px);
			.heading {
				line-height: 54px;
				font-size: 32px;
				height: 54px
			}
			.subheading {
				height: auto;
				line-height: 27px;
				font-size: 16px;
				margin-bottom: 30px;
			}
			.emojis {
				top: calc(50% - 84px);
				left: 18px;
				width: 504px;
				height: 168px;
				.emoji {
					height: 76px; width: 76px;
					line-height: 76px; font-size: 60px;
					margin: 4px;
				}
			}
			.link {
				.title {
					height: 27px; line-height: 27px;
					width: 500px; padding: 20px;
					font-size: 20px;
				}
				.preview {
					width: 490px; margin: 0 25px;
					height: 275px;
					.slide {
						top: 5px; left: -24px;
						height: 48px; width: 48px;
						line-height: 48px; font-size: 18px;
					}
					.is_task {
						top: 5px; left: -24px;
						height: 48px;
						line-height: 48px; font-size: 18px;
					}
					img {width: 490px; height: 275px;}
				}
				.links {
					.jump {
						right: 30px;
						width: 210px;
					}
					.user {
						left: 30px;
						width: 210px;
					}
					.jump.center {
						right: 159px;
					}
				}
			}
		}
	}
}
.btn {
	display: inline-block;
	box-sizing: border-box;
	height: 35px;
	min-width: 80%;
	line-height: 35px;
	font-size: 15px;
	border-radius: 17.5px;
	padding: 0 5px;
	color: white;
	border: 1px solid rgb(var(--custcolor));
	cursor: pointer;
	text-decoration: none;
	font-family: 'BarackPro-Solid' !important;
	background-color: rgb(var(--custcolor));
	-webkit-appearance: none !important;
	-moz-appearance: none !important;
}
.btn.inverted {
	color: rgb(var(--custcolor));
	background-color: white;
	margin-bottom: 1vh;
}
.pulse {
	animation: pulse 1.5s infinite;
}
.popup {
	position: fixed;
	top: calc(50vh - 100px);
	left: calc(50vw - 150px);
	height: 200px;
	width: 300px;
	background-color: white;
	border-radius: 15px;
	color: black;
	h1 {
		text-align: center;
	}
	.text {
		width: 250px;
		padding: 0 25px;
	}
}
.shake {
	animation: shake 1s cubic-bezier(.36,.07,.19,.97) both infinite;
  transform: translate3d(0, 0, 0);
}

.svg-icons {
	display: none;
}
#menuIcon,
#slidesIcon,
#usersIcon,
#statsIcon,
#endPitchIcon,
#nextIcon,
#endTurnIcon,
#addIcon {
	.st2{fill:none;stroke: rgb(var(--custcolor));stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
	.st5{fill:none;stroke:rgb(var(--custcolor));stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
	.st6{fill: rgb(var(--custcolor));}
	.st7{fill: rgb(var(--btncolor))}
	.st9{fill:none;stroke:rgb(var(--custcolor));stroke-width:9;stroke-linecap:round;stroke-miterlimit:10;}
	.st43{fill:none;stroke:rgb(var(--custcolor));stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
	.st44{fill:none;stroke:white;stroke-width:7;stroke-linecap:round;stroke-miterlimit:10;}
}
@keyframes shake {
	10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
@keyframes pulse {
	0% {transform: scale(1, 1)}
	70% {
		box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
		transform: scale(1.1, 1.1);
	}
	100% {
		box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
		transform: scale(1, 1);
	}
}
@keyframes fadeIn {
	from {
		top: -50vh;
		opacity: 0;
	}
}
@keyframes opacity {
	to {
		opacity: 1;
	}
}
@keyframes emoji {
	0% {transform: scale(1, 1)}
	70% {
		box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
		transform: scale(1.1, 1.1);
	}
	100% {
		box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
		transform: scale(1, 1);
	}
}
@keyframes rotate {
	to {
		transform: rotate(360deg);
	}
}
*:focus {outline: none;}
