.card#ability-card {
  position: relative;
  height: 85vh;
  #ability-table {
    height: 70vh;
  }
  .dropdown {
    position: absolute;
    top: 0; right: 4.3vh;
    z-index: 11;
    .dropdown-text {
      position: relative;
      line-height: 8vh; font-size: 2vh;
      text-align: right;
      cursor: pointer;
      i {margin-left: 1vw}
    }
    .dropdown-menu {
      display: none;
      position: relative;
      right: 0;
      background-color: white;
      border-radius: 5px;
      box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
      .link {
        position: relative;
        line-height: 5vh;
        font-size: 2vh;
        border-bottom: 1px solid rgba(0,0,0,.2);
        margin: 0 .5vw;
        color: black;
        padding: 0 1vw;
        a {
          position: absolute;
          top: 0; left: 0;
          height: 100%; width: 100%;
        }
      }
      .link:hover {
        background-color: rgba(0,0,0,.2);
      }
    }


  }
  table thead tr th,
  table tbody tr td,
  table tbody tr th {
    text-align: center;
    i.far.fa-square {
      color: rgba(0,0,0,.5);
    }
    i.far.fa-check-square {
      color: rgba(29, 218, 175,1);
    }
    .toggle {
      position: relative;
      display: inline-block;
      right: 5px;
      margin: 9px 10px;
      height: 10px;
      border-radius: 7.5px;
      width: 30px;
      background-color: white;
      border: 1px solid gray;
      .dot {
        position: absolute;
        top: -3.5px;
        height: 15px; width: 15px;
        border-radius: 50%;
        background-color: white;
        border: 1px solid gray;
      }
    }
    .toggle.on {
			background-color: rgb(var(--btncolor));
			border-color: transparent;
			.dot {
				right: -2px; left: auto;
				border-color: rgb(var(--btncolor))
			}

		}
		.toggle.off {
			.dot {right: auto; left: -2px}
		}
  }
  table tbody tr th:first-child,
  table tbody tr td:first-child {
    text-align: left;
  }
}

#content .background-blur#edit_teaser {
  text-align: left;
  .content-popup {
    .form-group {
      text-align: left;
      label {
        width: 30vw;
        margin: 10px 5vw;
      }
      .form-field {
        position: relative;
        text-align: left;
      }
    }
    .form-group.half-right,
    .form-group.half-left {
      margin: 10px 0 10px 5vw;
      width: 14vw;
      label {
        width: 100%;
        margin: 0;
        text-align: left;
      }
      .form-field {
          width: 100%;
          margin-left: 0;
      }
    }
    .form-group.half-right {
      margin: 10px 5vw 10px 0;
    }
    .form-group.color {

    }
  }
}
#bo_edit_users {
  form {
    position: relative;
    .form-group {
      width: 50%;
      label {
        display: inline-block;
        width: 10vw;
      }
    }
    .form-group.avatar {
      position: absolute;
      top: 0;
      left: 50%;
      height: 30vh;
      text-align: center;
      .circle, img {
        display: inline-block;
        height: 20vh;
        width: 20vh;
        background-color: #00232a;
        border-radius: 50%;
        line-height: 20vh;
        font-size: 10vh;
        color: white;
        margin: 5vh;
      }
      .mail-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        line-height: 5vh;
        text-decoration: 2px underline rgba(var(--btncolor), 1) !important;
      }
      .mail-link:hover {
        text-decoration: 2px underline rgba(var(--btncolor), .5) !important;
      }
    }
    .btn {
      position: relative;
      width: 50%;
      margin-left: 0;
      margin-right: 0;
    }
  }
  table {
    width: 100%;
  }
}
