.blur-filter {
  #sidebar {
    filter: blur(10px);
  }
  #navbar {
    filter: blur(10px);
  }
}
.card#choose_company {
  position: absolute;
  height: 60vh;
  width: 40vw;
  left: calc(50% - 20vw);
  .company-list {
    position: relative;
    width: 100%;
    max-height: 50vh;
  }
  .company-card {
    position: relative;
    display: inline-block;
    width: 8vw;
    line-height: 5vh;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.2);
    text-align: center;
    font-weight: bold;
    margin-right: 1vw;
    .logo {
      margin: 1vw 2vw 0;
      width: 4vw;
      img {width: 100%; height: 100%;}
    }
    .name {
      width: 7.5vw;
      margin: 0 .25vw;
      height: 5vh;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    a {
      position: absolute;
      top: 0; left: 0;
      height: 100%; width: 100%;
    }
  }
  .company-card:hover {
    border: 1px solid rgba(var(--custcolor));
  }
}
#content .card#content_card {
  height: 80vh;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
  .head {
    text-align: left;
    height: 7vh;
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin: 0 0 1vh;
    h3 {
      display: inline-block;
      text-align: left;
      font-weight: bold;
      line-height: 7vh;
      font-size: 2.2vh;
      i {padding: 0 .5vw}
      span {
        cursor: pointer;
      }
      span:hover {
        text-decoration: underline rgb(var(--btncolor));
      }
    }
    .search {
      position: relative;
      display: inline-block;
      height: 4vh;
      border-radius: 1.5vh;
      color: #7a858b;
      width: 20vw;
      margin-left: 1vw;
      i {
        position: absolute;
        line-height: 4vh;
        width: 4vh;
        text-align: center;
      }
      .form-field {
        width: calc(100% - 6vh);
        background-color: white;
        border: 1px solid #CFD3D6;
        height: calc(4vh - 2px);
        border-radius: .8vh;
        font-size: 1.8vh;
        padding: 0 1vh 0 5vh;
      }
    }
    .add {
      position: absolute;
      height: 5vh;
      margin: 1vh 0;
      right: 0; top: 0;
    }
  }
  #scrollcontent {
    position: relative;
    left: 0; top: 0;
    width: 100%; height: 70vh;
  }
  .users, .files, .companies, .lists, .folders, .standard  {
    clear: left;
    text-align: left;
    padding: 0;
    h3 {
      text-align: left;
      font-weight: bold;
      line-height: 4vh;
      font-size: 1.9vh;
      margin-bottom: 1vh;
    }
    .card {
      position: relative;
      text-align: center;
      width: 9vw;
      margin: 0 1vw 2vh 0;
      float: left;
      padding: 0;
      border: 1px solid rgba(0,0,0,.1);
      box-shadow: none;
      border-radius: .7vh;
      cursor: pointer;
      overflow: visible;
      .title {
        box-sizing: border-box;
        width: 100%;
        padding: 0 .5vw;
        position: relative;
        font-size: 1.7vh;
        line-height: 2.5vh;
        max-height: 5vh;
        overflow-y: hidden;
        text-align: center;
        .ellipsis {
          display: none;
          position: absolute;
          bottom: 0; right: .5vh;
          line-height: 2vh;
          background-color: white;
        }
      }
      .dropdown {
        position: absolute;
        right: 0;
        top: 0;
        height: auto;
        text-align: center;
        font-size: 14px;
        z-index: 11;
        i {
          color: black;
          font-size: 13;
          padding: 8px 8px;
        }
        .dropdown-Menu {
          display: none;
          position: absolute;
          right: 15px;
          z-index: 12;
          width: 110px;
          background-color: white;
          border-radius: 5px;
          overflow: hidden;
          text-align: left;
          box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
          .point {
            position: relative;
            left: 0;
            height: 20px;
            line-height: 20px;
            font-size: 15px;
            padding: 5px;
            text-align: left;
            i, img {
              float: left;
              color: #acb2bd;
              padding: 2.5px 5px 2.5px 0;
              height: 15px;
              margin: 0;
            }
          }
          .point:hover {
            background-color: rgba(0,0,0,.2);
          }
        }
      }
    }
    .card:hover {
      box-shadow: 0 0 10px 0 rgba(0,0,0,.1)
    }
    .card:nth-child(2) {
      margin-left: 0;
    }
  }
  .folders {
    .card {
      text-align: left;;
      height: 5vh;
      width: 11vw;
      img {
        position: relative;
        height: 3vh;
        margin: 1vh;
        float: left;
      }
      .title {
        width: auto;
        float: left;
        line-height: 5vh;
        margin: 0;
        padding: 0;
        max-width: calc(10vw - 5vh);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        font-weight: bold;
      }
      .author {
        display: none;
        clear: left;
        position: absolute;
        box-sizing: border-box;
        top: 3.5vh; left: 0;
        line-height: 2.5vh;
        font-size: 1.5vh;
        color: rgba(0,0,0,.5);
        margin: 0 .7vh 0 5vh;
        img {
          display: inline-block;
          height: 2vh;
          width: 2vh;
          left: 0; top: 0;
          border-radius: 50%;
          margin: .25vh .3vw .25vh 0;
        }
      }
      .folder-redirect {
        position: absolute;
        top: 0; left: 0;
        height: 100%; width: 100%;
        z-index: 10;
      }
      .dropdown i {
        color: rgba(0,0,0,.5);
      }
    }
  }
  .standard {
    .card {
      height: auto;
      font-size: 1.5vh;
      font-weight: 600;
      box-sizing: content-box;
      .folder-redirect{
        position: absolute;
        top: 0; left: 0;
        height: 100%; width: 100%;
        z-index: 10;
      }
      img {
        height: 6vh;
        margin-top: 1.25vh;
        display: inline-block;
      }
      .author {
        position: relative;
        text-align: left;
        line-height: 2vh;
        font-size: 1.3vh;
        color: rgba(0,0,0,.5);
        width: calc(100% - 1vh); left: .5vh;
      }
    }
  }
  .files, .companies, .users,
  .lists {
    padding-top: 1vh;
    .card {
      height: 16vh;
      width: 11vw;
      color: #0e0e0e;
      overflow: visible;
      box-sizing: content-box;
      .dropdown {
        z-index: 11;
        i {
          color: white;
        }
      }
      .thumb {
        position: absolute;
        left: 0;  top: 0;
        width: 100%;
        height: 11vh;
        border-radius: .7vh;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        overflow: hidden;
        .image {width: 100%; height: 100%; filter: brightness(70%);}
        .list-logo, .list-avatar {
          position: absolute;
          z-index: 10;
          width: 100%;
          text-align: center;
          line-height: 11vh;
          color: white;
          font-weight: bold;
          img {
            display: inline-block;
            height: 5vh;
            margin: 1vh;
          }
        }
        .list-avatar {
          img {
            border-radius: 50%;
          }
        }
        .list-icon {
          position: absolute;
          z-index: 10;
          width: 100%;
          text-align: center;
          svg {
            display: inline-block;
            height: 6vh;
            margin: 2.5vh;
          }
          img {
            display: inline-block;
            height: 3.5vh;
            margin: 3.75vh;
          }
        }
        .audio-image {
          width: calc(100% - 2px); height: calc(100% - 2px);
          border: 1px solid rgba(0,0,0,.1);
          border-radius: .5vh;
          background-color: rgba(0,0,0,.9);
          img {
            height: 6vh;
            margin: 2.5vh
          }
        }
        .fas {
          position: absolute;
          top: 0; left: 0;
          width: 100%; height: 100%;
          line-height: 11vh;
          text-align: center;
          font-size: 3.5vh;
          color: white;
        }
      }
      .text {
        position: absolute;
        top: 11vh; left: 0;
        width: 100%; height: 8vh; line-height: 2.5vh;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        .stats {
          position: relative;
          width: 100%; padding: 0 .5vw;
          line-height: 2vh;
          .dropdown {
            position: absolute;
            top: 0;
            left: 50%;
            width: 50%;
            font-size: 1.5vh;
            z-index: 11;
            .dropdown-text {
              position: absolute;
              top: 0;
              right: 0;
              height: 2vh;
              line-height: 2vh;
              i {color: black; padding: 0}
            }
            .dropdown-menu {
              display: none;
              position: absolute;
              top: 2.5vh;
              right: 0;
              line-height: 2vh;
              width: 10vh;
              background-color: white;
              box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
              .link:hover {
                background-color: rgba(0,0,0,.2);
              }
            }
          }
        }
        .title {
          text-overflow: ellipsis;
          height: 2.5vh;
          line-height: 2.5vh;
          text-align: left;
          font-weight: 600;
          overflow: hidden;
        }
        .time {
          width: 100%; padding: 0 .5vw;
          top: 0vh;
          font-size: 1.5vh;
          color: rgba(0,0,0,.5);
          height: 2vh;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          img {
            display: inline-block;
            position: relative;
            height: 1.5vh; top: .25vh;
            margin-right: .25vw;
          }
        }
      }

    }
  }
  .companies .card .text {overflow: visible;}
  .edit_user {
    position: relative;
    width: 100%;
    table {
      width: 100%;
    }
  }

  .users {
    .card {
      height: 19vh;
      width: 10vw;
      .thumb {
        width: 10vw;
        height: 7vh;
      }
      .text {
        top: 7vh;
        height: 10.5vh;
        .title {
          font-size: 1.7vh;
          height: 2.5vh;
          width: 9vw; left: .5vh;
        }
        .stats {
          position: relative;
          width: 9vw; left: .5vh;
          font-size: 1.3vh;
          span {
            float: right;
            font-size: 1.5vh;
            font-weight: 600;
          }
        }
      }
    }
  }
}
#content .background-transparent {
  position: fixed;
  top: 0; left: 0;
  height: 100%; width: 100%;
  background-color: transparent;
  display: none;
  z-index: 11;
}
#content .background-blur {
  position: fixed;
  top: 0; left: 0;
  height: 100%; width: 100%;
  background-color: rgba(0,0,0,.3);
  z-index: 11;
  display: none;
  .btn.inverted, .btn:hover {
    color: rgb(var(--btncolor));
    background-color: white;
  }
  .btn.inverted:hover, .btn {
    background-color: rgb(var(--btncolor));
    color: white;
  }
  .content-popup {
    position: fixed;
    top: 20vh;
    left: 30vw;
    width: 40vw;
    background-color: white;
    border-radius: .8vh;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    text-align: center;
    z-index: 11;
    padding: 10px;
    table {
      width: 100%;
      th {text-align: left;}
      td {
        text-align: left;
        .form-field {
          width: calc(100% - 3vh);
          background-color: white;
          border: 1px solid #CFD3D6;
          height: calc(4vh - 2px);
          border-radius: .8vh;
          font-size: 1.8vh;
          padding: 0 1vh;
        }}
      .remove {
        height: 4vh;
        svg {
          display: inline-block;
          height: 2.5vh;
        }
      }
    }
    .card-list {
      text-align: center;
      .card {
        position: relative;
        text-align: center;
        width: 6vw;
        margin: 0 .5vw 2vh;
        padding: 0;
        border: 1px solid rgba(0,0,0,.1);
        box-shadow: none;
        cursor: pointer;
        overflow: visible;
        display: inline-block;
        height: auto;
        font-size: 1.5vh;
        font-weight: 600;
        i,
        img {
          font-size: 5vh;
          height: 5vh;
          margin-top: 1vh;
          display: inline-block;
        }
        i {
          font-size: 4vh;
          margin: 1.5vh 0 .5vh 0;
        }
      }
    }
    .droparea {
      margin: 0 auto;
      opacity: 1;
      width: 30vw;
      height: 30vh;
      border: 2px dashed rgba(0,0,0,.2);
      border-radius: .8vh;
      box-sizing: border-box;
      .info {
        display: block;
        margin: 10vh 0 0 0;
        line-height: 5vh;
      }
      .btn {
        display: inline-block;
        margin: 0;
        width: 50%;
    }
  }
    .dragover {
      opacity: .2;
    }
    .form-group {
      position: relative;
      z-index: 11;
      .form-field {
        width: 30vw;
        box-sizing: border-box;
        margin: 10px 5vw;
        height: 5vh;
        font-size: 2vh;
        text-align: center;
      }
      .dropdown {
        position: relative;
        display: inline-block;
        z-index: 11;
        .dropdown-text {
          position: relative;
          line-height: 5vh; font-size: 2vh;
          padding: 0 10px;
          text-align: left;
          border: 1px solid rgba(0,0,0,.2);
          border-radius: 5px;
          cursor: pointer;
          width: calc(100% - 40px);
          box-sizing: border-box;
          margin: 0 20px 10px;
          height: 5vh;
          font-size: 2vh;
          text-align: left;
          i {margin-left: 1vw}
        }
        .dropdown-menu {
          display: none;
          position: absolute;
          right: 0;
          background-color: white;
          border-radius: 5px;
          box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
          .link {
            position: relative;
            line-height: 5vh;
            font-size: 2vh;
            border-bottom: 1px solid rgba(0,0,0,.2);
            margin: 0 .5vw;
            color: black;
            padding: 0 1vw;
            cursor: pointer;
            .teams {
              position: absolute;
              left: 100%;
              top: 0;
              background-color: white;
              border-radius: 5px;
              box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
              .link {
                display: none;
                text-overflow: ellipsis;
                overflow: hidden;
                line-height: 3vh;
                height: 3vh;
                font-size: 1.5vh;
                width: 10vw;
              }
            }
          }
          .link:hover {
            background-color: rgba(0,0,0,.2);
            .teams {
              .link {display: block;}
            }
          }
        }
      }
    }
    .form-group.list-table {
      position: relative;
      text-align: left;
      label {
        display: inline-block;
        width: calc(100% - 40px);
        text-align: left;
        margin: 0 20px 0;
      }
      .form-field {
        width: calc(100% - 40px);
        box-sizing: border-box;
        margin: 0 20px 10px;
        height: 5vh;
        font-size: 2vh;
        text-align: left;
      }
      .form-field.shortened {
        width: calc(100% - 90px);
      }
      svg {
        position: absolute;
        bottom: calc(5vh / 2 - 10px); right: 20px;
        width: 40px;
      }
    }

    .divider {
      height: 1px;
      width: 100%;
      background-color: rgba(0,0,0,.2);
      margin-bottom: 1.5vh;
    }
    .entries {
      position: relative;
      max-height: 30vh;
      padding: 0 20px;
      table {
        width: 100%;
        border-collapse: collapse;
        th {
          border-bottom: 2px solid rgba(0,0,0,.2);
        }
        td {
          border-bottom: 1px solid rgba(0,0,0,.2);
        }
        .name {
          text-align: left;
        }
        .icon {
          font-size: 20px;
          width: 30px;
          .play {color: rgba(var(--btncolor), 1); cursor: pointer;}
          .play.disabled {color: rgba(var(--btncolor), .2); cursor: default;}
          .record {color: red; cursor: pointer;}
          .remove {color: rgba(0,0,0,.3); cursor: pointer;}
          .upload:hover, .record:hover, .remove:hover, .play:hover {opacity: .5}
          .play.disabled:hover {opacity: 1}
          .upload {color: rgba(var(--custcolor), 1); cursor: pointer;}
        }
      }
    }
    .audio {
      svg,
      img {
        height: 15vh;
        margin: 2vh 0;
      }
      i {font-size: 15vh; color: red; width: 100%;}
      audio {
          width: 30vw;
          margin: 1.5vh 5vw 0;
      }
    }
    .close {
      position: absolute;
      top: 0; right: 0;
      margin: 15px;
      height: 25px;
      z-index: 12;
    }
    video,
    img {
      display: inline-block;
      max-height: 30vh;
      max-width: 100%;
    }
    .btns {
      position: relative;
      left: 0; width: 30vw;
      margin: 20px 5vw 0;
      height: 5.5vh;
      .btn {
        position: absolute;
        height: 5.5vh;
        display: inline-block;
        box-sizing: border-box;
        width: 48%;
        top: 0;
        border: 1px solid rgb(var(--btncolor));
        margin: 0;
      }
      .btn:first-child {
        left: 0;
        right: auto;
      }
      .btn:last-child {
        right: 0;
        left: auto;
      }
    }
  }

}

#content .file-modal-bg {
  z-index: 111;

  .h2-heading {
    text-align: center !important;
    font-weight: 600;
    margin: 2.5vh 0;
    font-size: 2.5vh;
  }
}

#content .background-blur#editList {display: block}
#content .content-dropdown {
  position: absolute;
  margin: 1vh 0;
  right: 14.3vh;
  top: 15vh;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
  z-index: 11;
  overflow: hidden;
  .entry {
    position: relative;
    width: 13vw;
    height: 4vh;
    padding: .5vh 0;
    line-height: 4vh;
    cursor: pointer;
    .icon {
      display: block;
      height: 4vh;
      width: 6vh;
      text-align: center;
      line-height: 4vh;
      svg,
      img {
        display: inline-block;
        height: 4vh;
      }
    }

    .type {
      position: absolute;
      top: 0; left: 7vh; width: calc(100% - 7vh);
      line-height: 5vh;
      font-size: .8vw;
    }
  }
  .entry:hover {
    background-color: rgba(0,0,0,.2);
  }

}