.card#content_card {
  height: 80vh;
  .head {
    text-align: left;
    height: 7vh;
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin: 0;
    h3 {
      text-align: left;
      font-weight: bold;
      line-height: 7vh;
      font-size: 2.2vh;
      span {
        border-radius: .2vw;
        background-color: transparent;
        padding: 0 .5vw;
        cursor: pointer;
      }
      span:hover {
        background-color: rgba(0,0,0,.1);
      }
    }
    .search {
      position: absolute;
      left: 8vw; top: 1.5vh;
      height: 4vh;
      border-radius: 1.5vh;
      color: #7a858b;
      width: 20vw;
      i {
        position: absolute;
        line-height: 4vh;
        width: 4vh;
        text-align: center;
      }
      .form-field {
        width: calc(100% - 6vh);
        background-color: white;
        border: 1px solid #CFD3D6;
        height: calc(4vh - 2px);
        border-radius: .8vh;
        font-size: 1.8vh;
        padding: 0 1vh 0 5vh;
      }
    }
    .add {
      position: absolute;
      height: 5vh;
      margin: 1vh 0;
      right: 0; top: 0;
    }
  }
  #scrollcontent {
    position: relative;
    left: 0; top: 0;
    width: 100%; height: 70vh;
  }
  .files,
  .folders  {
    clear: left;
    text-align: left;
    h3 {
      text-align: left;
      font-weight: bold;
      line-height: 4vh;
      font-size: 1.9vh;
      margin-bottom: 1vh;
    }
    .card {
      position: relative;
      text-align: center;
      width: 7vw;
      margin: 0 .5vw 2vh;
      float: left;
      padding: 0;
      border: 1px solid rgba(0,0,0,.1);
      box-shadow: none;
      cursor: pointer;
      overflow: visible;
      .dropdown {
        position: absolute;
        right: 0;
        top: 0;
        height: 20px;
        text-align: center;
        font-size: 14px;
        z-index: 100;
        border-radius: 10px;
        margin: 6px 8px;
        i {
          color: black;
          font-size: 13;
        }
        .dropdown-Menu {
          display: none;
          position: absolute;
          z-index: 101;
          width: 70px;
          background-color: white;
          border-radius: 8px;
          overflow: hidden;

          text-align: left;
          box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
          .point {
            position: relative;
            left: 0;
            line-height: 20px;
            font-size: 15px;
            padding: 5px;
          }
          .point:hover {
            background-color: rgba(0,0,0,.2);
          }
        }
      }

    }
    .card:nth-child(2) {
      margin-left: 0;
    }
    .card:hover {
      border-color: rgb(var(--custcolor));
    }
  }
  .folders {
    .card {
      height: auto;
      font-size: 1.5vh;
      font-weight: 600;
      img {
        height: 5vh;
        margin-top: 1vh;
        display: inline-block;
      }
      .title {
        position: relative;
        line-height: 2vh;
        max-height: 4vh;
        overflow-y: hidden;
        .ellipsis {
          display: none;
          position: absolute;
          bottom: 0; right: .5vh;
          line-height: 2vh;
          background-color: white;
        }
      }
      .author {
        line-height: 2vh;
        top: 7.5vh;
        font-size: 1.3vh;
        color: rgba(0,0,0,.5);
      }
    }
  }
  .files {
    padding: 1vh 0 0 0;
    .card {
      height: 16vh;
      width: calc(7vw + 1vh);
      color: #0e0e0e;
      overflow: visible;
      .dropdown {
        i {
          color: white;
        }
      }
      .thumb {
        position: absolute;
        left: .5vh;  top: .5vh;
        width: 7vw;
        height: 7vh;
        border-radius: .5vh;
        overflow: hidden;
        .image {width: 100%; height: 100%; filter: brightness(70%);}
        .audio-image {
          width: calc(100% - 2px); height: calc(100% - 2px);
          border: 1px solid rgba(0,0,0,.1);
          border-radius: .5vh;
          background-color: rgba(0,0,0,.9);
          img {
            height: 4vh;
            margin: 1.5vh
          }
        }
        .fas {
          position: absolute;
          top: 0; left: 0;
          width: 100%; height: 100%;
          line-height: 7vh;
          text-align: center;
          font-size: 3.5vh;
          color: white;
        }
      }
      .text {
        position: absolute;
        top: 8vh; left: 0;
        width: 100%; height: 8vh;
        font-size: 1.5vh; line-height: 2vh;
        text-align: left;
        .title, .time {
          position: relative;
          width: 7vw; left: .5vh;

        }
        .title {
          top: 0;
          width: 7vw;
          text-overflow: ellipsis;
          height: 5.5vh;
          line-height: 2.5vh;
          font-size: 1.5vh;
          text-align: center;
          font-weight: 600;
          overflow: hidden;
          .ellipsis {
            display: none;
            position: absolute;
            bottom: .5vh; right: .5vh;
            line-height: 2vh;
            background-color: white;
          }
        }
        .time {
          top: 0vh;
          font-size: 1.3vh;
          color: rgba(0,0,0,.5);
          height: 2vh;
          img {
            display: inline-block;
            position: relative;
            height: 1.5vh; top: .25vh;
            margin-right: .25vw;
          }
        }
      }
    }
  }
}

#content .background-blur {
  position: fixed;
  top: 0; left: 0;
  height: 100%; width: 100%;
  background-color: rgba(0,0,0,.3);
  z-index: 1000;
  display: none;
  .btn.inverted, .btn:hover {
    color: rgb(var(--btncolor));
    background-color: white;
  }
  .btn.inverted:hover, .btn {
    background-color: rgb(var(--btncolor));
    color: white;
  }
  .content-popup {
    position: fixed;
    top: 20vh;
    left: 30vw;
    width: 40vw;
    background-color: white;
    border-radius: .8vh;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    text-align: center;
    z-index: 1000;
    padding: 10px;
    .card-list {
      text-align: center;
      .card {
        position: relative;
        text-align: center;
        width: 6vw;
        margin: 0 .5vw 2vh;
        padding: 0;
        border: 1px solid rgba(0,0,0,.1);
        box-shadow: none;
        cursor: pointer;
        overflow: visible;
        display: inline-block;
        height: auto;
        font-size: 1.5vh;
        font-weight: 600;
        i,
        img {
          font-size: 5vh;
          height: 5vh;
          margin-top: 1vh;
          display: inline-block;
        }
        i {
          font-size: 4vh;
          margin: 1.5vh 0 .5vh 0;
        }
      }
    }
    .droparea {
      margin: 0 auto;
      opacity: 1;
      width: 30vw;
      height: 30vh;
      border: 2px dashed rgba(0,0,0,.2);
      border-radius: .8vh;
      box-sizing: border-box;
      .info {
        display: block;
        margin: 10vh 0 0 0;
        line-height: 5vh;
      }
      .btn {
        display: inline-block;
        margin: 0;
        width: 50%;
    }
  }
    .dragover {
      opacity: .2;
    }
    .form-field {
      width: 30vw;
      box-sizing: border-box;
      margin: 10px 5vw;
      height: 5vh;
      font-size: 2vh;
      text-align: center;
    }
    .audio {
      img {
        height: 15vh;
        margin: 2vh 0;
      }
      i {font-size: 15vh; color: red; width: 100%;}
      audio {
          width: 30vw;
          margin: 1.5vh 5vw 0;
      }
    }
    .close {
      position: absolute;
      top: 0; right: 0;
      margin: 15px;
      height: 25px;


    }
    video,
    img {
      display: inline-block;
      height: 50vh;
      max-width: 100%;
    }
    .btns {
      position: relative;
      left: 0; width: 30vw;
      margin: 20px 5vw 0;
      height: 5.5vh;
      .btn {
        position: absolute;
        height: 5.5vh;
        display: inline-block;
        box-sizing: border-box;
        width: 48%;
        top: 0;
        border: 1px solid rgb(var(--btncolor));
      }
      .btn:first-child {
        left: 0;
      }
      .btn:last-child {
        right: 0;
      }
    }
  }

}
