 /*
 *= require perfect-scrollbar
 *= require cropper.min
 *= require slick
 *= require slick-theme
 */

@import "font-awesome-sprockets";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap');
body {
	font-family: 'Nunito', sans-serif;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
	background-color: #f4faff;
	color: #212529;
}
#navbar {
	z-index: 100;
	.dropdown {
		position: fixed;
		top: 0;
		right: 0;
		line-height: 3.5vh;
		font-size: 1.85vh;
		margin: 3.5vh 5.9vh;
		z-index: 100;
		cursor: pointer;
	}
	.dropdown-content {
		display: none;
		position: fixed;
		top: 7vh;
		right: 5.3vh;
		background-color: white;
		box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
		width: 21.1vh;
		border-radius: 1vh;
		padding: 0 1vh;
		z-index: 100;
		.link {
			position: relative;
			top: 0;
			left: 0;
			text-align: center;
			border-bottom: 1px solid #dfe1e5;
			line-height: 5.3vh;
			width: 100%;
			font-size: 1.7vh;
			a {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
		.link:hover {
			background-color: rgba(192,192,192,.1);
		}
	}
}
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: calc(25.6vh - 1px);
	background-color: rgb(var(--custcolor));
	color: white;
	font-weight: 600;
	border-right: 1px solid transparent;
	box-shadow: 0 0 10px 0 rgba(172, 172, 172, 0.5);
	z-index: 100;
	.avatar {
		position: relative;
		top: 0;
		left: 0;
		left: 0;
		margin: 4.05vh;
		height: 17.5vh;
		width: 17.5vh;
		border-radius: 50%;
		box-shadow: 0 0 10px 0 rgba(172, 172, 172, .8);
	}
	.links {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		margin: .4vh 0;
		h3 {text-align: center;}
		.link {
			position: relative;
			margin-left: 2.3vh;
			line-height: 5.6vh;
			height: 5.6vh;
			color: white;
			font-size: 1.9vh;
			border-top-left-radius: 2.8vh;
			border-bottom-left-radius: 2.8vh;
			i {
				float: left;
				font-size: 2vh;
				width: 5.6vh;
				text-align: center;
				line-height: inherit;
			}
			a {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
			}
		}
		.link:hover,
		.link.active {
			width: 23.3vh;
			z-index: 100;
			background-color: rgba(255,255,255,.4);
			.text {
				font-weight: bold;
			}
		}
	}
	.logo {
		display: grid;
		align-content: center;
		position: absolute;
		margin-bottom: 2vh;
		bottom: 2vh;
		margin: 0 7.8vh;
		width: 10vh;
		height: 10vh;
		svg {
			position: absolute;
			bottom: 0; left: 0;
			height: 100%;
			width: 100%;
		}
		img {
			position: relative;
			width: 5vh;
			margin: 3vh 2.5vh;
			max-height: 4vh;
		}
	}
}
#content {
	position: fixed;
	top: 0;
	left: 25.6vh;
	height: 87vh;
	padding: 0 5vh 0 10vh;
	margin-right: 5vh;
	margin: 10vh 0 0 0;
	width: calc(100vw - 45.6vh);
	#scrollbar {
		position: absolute;
		top: 0;
		left: 0;
		width: calc(100vw - 35.6vh);
		height: 85vh;
		margin: 10vh 4vh 1vh 5vh;
		padding-right: 2.3vh;
	}
	#editTeam {
		.table {
			margin: 0;
		}
	}
	#teams-table,
	#users-table {
		margin-top: -1vh;
		table thead {line-height: 4vh;}
	}
	.head {
		width: auto;
		position: relative;
		margin: 0 0 5vh 0;
		height: 5vh;
		.avatar {
			position: relative;
			display: inline-block;
			height: 5vh;
			width: 5vh;
			margin-right: 1vh;
			border-radius: 50vh;
		}
		.text {
			position: absolute;
			display: inline-block;
			top: 0;
			line-height: 5vh;
			font-size: 2.5vh;
			margin: 0;
			width: auto;
			font-weight: bold;
		}
		
	}
	.rating-criteria {
		margin: 0;
		height: 25vh;
		width: 100%;
		.card {
			display: inline-block;
			position: relative;
			top: 0;
			left: 0;
			height: 25vh;
			width: 20vh;
			margin-right: 1.5vh;
			.icon {
				margin: 2.2vh auto 0;
				text-align: center;
				height: 4.3vh;
				width: 4.3vh;
				border-radius: 50%;
				background-color: #f3f1ff;
				color: white;
				font-size: 2.2vh;
				line-height: 4.3vh;
			}
			.rating {
				position: relative;
				margin: 1vh auto;
				width: 10vh;
				height: 10vh;
				border-radius: 50%;
				line-height: 10vh;
				text-align: center;
				font-size: 5vh;
				svg {
					position: absolute;
					top: 0;
					left: 0;
				}
			}
			.name {
				text-align: center;
			}
			.change {
				text-align: center;
			}
		}
		.card.active,
		.card:hover {
			background-color: rgba(var(--custcolor),.1);
			color: black;
			.rating svg path {
				stroke: white;
			}
			.rating div {
				color: white !important;
			}
		}
	}
	h3 {
		font-weight: 600;
		margin: 2.5vh 0;
		font-size: 2.5vh;
	}
	.rating-details {
		height: 10vh;
		width: 100%;
		.card {
			display: inline-block;
			position: relative;
			top: 0;
			left: 0;
			height: 10vh;
			width: 20vh;
			margin-right: 1.5vh;
			text-align: center;
			.head {
				margin: 0;
				line-height: 3.8vh;
				font-size: 1.8vh;
				font-weight: 600;
			}
			.count {
				font-size: 3.4vh;
				line-height: 3.8vh;
				font-weight: bold;
				color: #4394ec;
			}
			.green {color: #1ddaaf;}
		}
	}
	.card.rating-stats {
		position: relative;
		margin: 5vh 1.5vh 2.5vh 0;
		width: calc(100% - 1.5vh);
		box-sizing: border-box;
		padding-bottom: 3.4vh;
		h3 {
			text-align: left;
		}
		.scrollChart {
			position: absolute;
			top: calc(50% - 1.5vh);
			height: 3vh;
			width: 3vh;
			font-size: 3vh;
			color: rgb(var(--custcolor));
			cursor: pointer;
		}
		#scrollChartLeft {
			left: 0.3vh;
		}
		#scrollChartRight {
			left: calc(75% - 5.3vh);
		}
		.disabled {
			opacity: .2;
			cursor: default;
		}
		.card#chart {
			position: relative;
			margin: 3.4vh 4.3vh 3.4vh 0;
			padding: 0;
			width: calc(75% - 4.3vh);
		}
		.divider {
			position: absolute;
			left: 75%;
			top: 3vh;
			height: 44vh;
			width: 1px;
			background-color: lightgray;
		}
		.card#bestlist {
			position: absolute;
			right: 0;
			top: 0;
			margin: 3vh;
			width: calc(25% - 8.6vh);
			padding: 1vh;
			h3 {line-height: 4vh;}
			.trophy {
				position: relative;
				width: 100%;
				height: auto;
			}
			.gold, .silver, .bronze {
				position: relative;
				float: left;
				width: 33.33%;
				text-align: center;
				margin: 1vh 0;
				img {
					display: inline-block;
					width: 50%;
				}
			}
			.divider {
				position: relative;
				clear: left;
				top: 0;
				left: 0;
				height: 1px;
				width: 100%;
			}
			.bestlist {
				line-height: 4vh;
				#rating {
					float: right;
					font-weight: bold;
				}
				:hover, .highlighted {
					background-color: rgba(172,172,172,.1);
					font-weight: bold;
				}
			}
		}
	}
	.card {
		background-color: white;
		border-radius: 1vh;
		box-shadow: 0 0 10px 0 rgba(172,172,172,.1);
		padding: 0 4.3vh;
		.btn {
			position: absolute;
			display: block;
			text-decoration: none;
			bottom: 0;
			left: 0;
			width: calc(100% - 8.6vh);
			margin: 2vh 4.3vh;
			padding: 0;
			text-align: center;
		}
		h1 {
			text-align: center;
			font-size: 3.7vh;
			line-height: 11.7vh;
			margin: 0;
			font-weight: normal;
		}
		h3 {
			line-height: 8vh;
			margin: 0;
			font-size: 3vh;
			font-weight: normal;
			text-align: center;
			i.add {
				position: absolute;
				right: 0;
				top: 0;
				line-height: 8vh;
				width: 8vh;
				color: rgb(var(--btncolor));
				text-align: center;
				text-decoration: none;
				cursor: pointer;
			}
			i.back, 
			a.back {
				position: relative;
				display: inline-block;
				left: 0;
				top: 0;
				padding-right: 1vh;
				line-height: 8vh;
				color: rgb(var(--btncolor));
				text-align: center;
				text-decoration: none;
				cursor: pointer;
			}
		}
	}
	.left, .right {
		position: absolute;
		top: 15vh;
		width: 64.55vh;
		height: 62.7vh;
		.search {
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			color: #7a858b;
			i {
				position: absolute;
				line-height: 5.5vh;
				width: 5vh;
				text-align: center;
			}
			.form-field {
				width: 50%;
				background-color: white;
				border: none;
				height: 5.5vh;
				border-radius: .8vh;
				font-size: 1.8vh;
				padding: 0 1vh 0 5vh;
				box-shadow: 0 0.5vh 2vh 0 rgba(107,107,107,0.1);
			}
			.btn {
				position: absolute;
				right: 0;
			}
		}
		.card {
			.add-circle {
				position: absolute;
				top: 0;
				right: 0;
				font-size: 4vh;
				line-height: 8vh;
				width: 8vh;
				text-align: center;
				color: rgb(var(--btncolor));
			}
			h3 {
				text-align: left;
			}
			.deleteEdit {
				position: absolute;
				top: 0;
				right: 0;
				margin: 2vh;
				color: rgba(0,0,0,.2);
				font-size: 3vh;
			}
			position: relative;
			margin-top: 1.5vh;
			width: 55.95vh;
			height: 55.7vh;
			.table {
				height: 40vh;
				width: 55.95vh;
				padding-right: 2.5vh;
			}
			.table#company_admin-table {
				margin: 0;
				
			}
			.placehere {
				padding: 1vh 0;
			}
			.table#adduser {
				height: 25vh;
			}
			#users-table {
				table tbody td:nth-child(2),
				table thead th:nth-child(2) {
					text-align: left;
				}
				.fa-trash-alt {display: none}
			}
			table {
				border-collapse: collapse;
				thead tr th {
					border-bottom: 1px solid rgba(172,172,172,.5);
					font-weight: 300;
					font-size: 1.8vh;
					text-align: center;
				}
				thead tr th:first-child {
					text-align: left;
				}
				tbody {
					tr {
						td:first-child {
							text-align: left;
						}
						td {
							font-size: 1.8vh;
							line-height: 5.2vh;
							border-bottom: 1px solid rgba(172,172,172,.5);
							text-align: center;
							img {
								position: absolute;
								top: 0;
								left: 0;
								margin: .6vh;
								height: 4vh;
								width: 4vh;
								border-radius: 2vh;
							}
						}
						td.img {
							position: relative;width: 5.2vh;
						}
						td.remove, td.play, td.accept, td.edit, td.stats {text-align: center}
						td.stats {color: #ffcc00;}
						td.accept, td.edit, td.play{color: rgb(var(--custcolor));}
						td.remove {color: #dfe1e5;}
						
					}
					tr:last-child td {border-bottom: none;}
				}
			}
		}
		#createUser, #createTeam {display: none;}
	}
	.left {right: calc(50% + 3vh);}
	.right {left: calc(50% + 3vh);}
	.small {
		top: 0;
		width: 52vh;
		.card {
			margin-top: 1.5vh;
			width: 47vh;
			height: 42vh;
			.deleteList {
				position: absolute;
				top: 0;
				right: 0;
				margin: 2vh;
				color: rgba(0,0,0,.2);
				font-size: 3vh;
			}
			.karten {
				position: relative;
				height: 30vh;
				width: 47vh;
				padding-right: 2vh;
			}
			.karte {
				position: relative;
				float: left;
				width: 14vh;
				height: 10vh;
				margin: 1vh;
				background-color: white;
				border-radius: 1vh;
				box-shadow: 0 0 10px 0 rgba(172,172,172,.1);
				overflow: hidden;
				cursor: pointer;
				.image {
					position: absolute;
					top: 0;
					left: 0;
					height: 7vh;
					width: 14vh;
				}
				.name {
					position: absolute;
					top: 7vh;
					left: 1vh;
					line-height: 3vh;
					float: left;
				}
				.count {
					position: absolute;
					top: 7vh;
					right: 1vh;
					line-height: 3vh;
					float: right;
				}
			}
			.karte:nth-child(3n) {
				margin-right: 0;
			}
			.karte:hover {
				transform: scale(1.05);
			}
			.table.edit {
				width: 47vh;
				margin: 0;
				height: 9vh;
				td {
					line-height: 3vh;
					text-align: left;
					.fas, .far {
						font-size: 2vh;
					}
				}
				td:nth-child(2),
				td:nth-child(3),
				td:nth-child(4) {
					width: 5vh;
					font-size: 3vh;
					text-align: center;
				}
				.record {color: #e21616}
				.play {color: rgb(var(--btncolor))}
				.disabled {
					color: rgba(0,0,0,.2);
					cursor: default;
				}
				.delete {color: #e2b416}
			}
			.choose {
				position: absolute;
				top: 0;
				right: 0;
				height: 5vh;
				width: 10vh;
				line-height: 5vh;
				margin: 1vh;
				background-color: white;
				border: .1vh solid #dfe1e5;
				height: 5.5vh;
				border-radius: .8vh;
				padding: 0 2.75vh 0 2vh;
				font-size: 2vh;
				background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
				cursor: pointer;
			}
			.options {
				display: none;
				position: absolute;
				top: 6vh;
				right: 0;
				margin: 1vh;
				width: 12.75vh;
				border: .1vh solid #dfe1e5;
				border-radius: .8vh;
				padding: 0 1vh;
				line-height: 5vh;
				cursor: pointer;
				z-index: 100;
				font-size: 2vh;
				background-color: white;
				div:first-child {
					border-bottom: .1vh solid #dfe1e5;
				}
				div:hover {background-color: rgba(172,172,172,.1)}
			}
			.table#do-say,
			.table#dont-say {
				margin: 0;
				width: 47vh;
				height: 20vh;
				table tbody tr td:first-child {text-align: left;}
				table tbody tr td:last-child {
					text-align: center;
					width: 5vh;
					font-size: 3vh;
					color: #e2b416;
				}
			}
		}
	}
	.row {
		position: relative;
		margin: 5vh 0;
		clear: left;
		.card {
			position: relative;
			float: left;
			height: 30vh;
			width: 28vh;
			margin-right: 5vh;
			margin-bottom: 5vh;
			h3 {font-size: 2.5vh}
			table {
				width: 100%;
				tr {
					th {text-align: left}
					td {text-align: right}
				}
			}
		}
		.card:last-child{margin-right: 0}
	}
	.table {
		.add {
			position: absolute;
			right: 0;
			top: 0;
			font-size: 4vh;
			color: rgb(var(--btncolor));
			margin: 1vh;
			cursor: pointer;
		}
		.add:hover {opacity: .5}
		clear: left;
		position: relative;
		margin: 5vh 0;
		h3 {text-align: left}
		table {
			width: 100%;
			text-align: left;
			padding-bottom: 5vh;
			tbody {
				tr.highlighted,
				tr:hover {
					td {
						background-color: rgba(172,172,172,.1);
					}
				}
				tr {
					cursor: pointer;
					td a {
						text-decoration: none;
						color: inherit;
					}
				}
			}
		}
	}
	.form-group {
		width: 100%;
		margin-bottom: 2.5vh;
		clear: left;
		label {
			font-weight: 300;
			margin: 0;
			width: 100%;
			text-align: left;
			font-size: 1.8vh;
			line-height: 2.6vh;
			clear: right;
			.right {
				float: right;
				position: relative;
				top: 0;
				left: auto;
				width: auto;
				height: auto;
			}
			#createTeam {font-weight: bold; cursor: pointer;}
		}
		.custom-select {
			width: 100%;
			background-color: white;
			border: .1vh solid #dfe1e5;
			height: 5.5vh;
			border-radius: .8vh;
			padding: 0 1.75em 0 1em;
			background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
			appearance: none;
			-webkit-appearance: none;
			-moz-appearance: none;
			cursor: pointer;
			font-family: 'Nunito', sans-serif !important;
			font-size: 1.8vh;
			color: #495057 !important;
			outline: none !important;
		}
		.custom-select.red {
			border-color: #ff5f58;
			color: black !important;
		}
		.form-field {
			width: calc(100% - 2vh);
			background-color: white;
			border: .1vh solid #dfe1e5;
			height: 5.5vh;
			border-radius: .8vh;
			font-size: 1.8vh;
			padding: 0 1vh;
			.text {
				line-height: 5.5vh;
				float: left;
				font-weight: 300;
			}
			.custom-url-field {
				line-height: 100%;
				height: 100%;
				padding: 0;
				margin: 0 .1vh;
				border: none;
			}
		}
		.form-list {
			position: relative;
			min-height: 5.5vh;
			height: auto;
			width: calc(100% - 6vh);
			border: .1vh solid #dfe1e5;
			border-radius: .8vh;
			font-size: 1.8vh;
			padding: 0 5vh 0 1vh;
			label {
				position: relative;
				display: inline-block;
				line-height: 3.5vh;
				height: 3.5vh;
				margin: 1vh .5vh .75vh 0;
				border: 1px solid #a358df;
				width: auto;
				border-radius: 2vh;
				padding: 0 1vh;
				cursor: pointer;
			}
			label.company {border-color: #ff5f58}
			label.pitch {border-color: rgba(var(--custcolor), .5);}
			.text {
				line-height: 5.5vh;
				color: rgba(0,0,0,.5);
			}
			i {
				position: absolute;
				right: 0;
				top: 0;
				height: 5.5vh;
				width: 5.5vh;
				line-height: 5.5vh;
				font-size: 3vh;
				text-align: center;
				color: rgb(var(--btncolor));
				cursor: pointer;
			}
		}
		.unselected-list {
			display: none;
			label {
				position: relative;
				display: inline-block;
				line-height: 3.5vh;
				height: 3.5vh;
				margin: 1vh .5vh .75vh 0;
				border: 1px solid #a358df;
				width: auto;
				border-radius: 2vh;
				padding: 0 1vh;
				cursor: pointer;
			}
			label.company {border-color: #ff5f58}
			label.pitch {border-color: rgba(var(--custcolor), .5);}
			input {
				display: none;
			}
		}
		.form-field.red {
			border-color: #ff5f58;
			.text {color: black !important;}
		}
		.time-field {
			position: relative;
			width: 15vh;
			border: .1vh solid #dfe1e5;
			height: 5.5vh;
			border-radius: .8vh;
			font-size: 2.2vh;
			padding: 0 1vh;
			.time {
				width: calc(100% - 2.75vh);
				text-align: center;
				line-height: 5.5vh;
				font-weight: 300;
			}
			.up,
			.down {
				position: absolute;
				right: 0;
				height: 2.75vh;
				width: 2.75vh;
				text-align: center;
				line-height: 2.75vh;
				border-left: .1vh solid #dfe1e5;
				cursor: pointer;
			}
			.up {
				top: 0;
				border-bottom: .1vh solid #dfe1e5;
			}
			.down {
				top: 2.75vh;
			}
		}
	}
	.form-group.half-left {
		width: calc(50% - 2vh);
		float: left;
	}
	.form-group.half-right {
		width: calc(50% - 2vh);
		float: right;
		clear: none;
	}
	.form-group.half-left-time {
		width: calc(40% - 2vh);
		float: left;
	}
	.form-group.half-right-time {
		width: calc(60% - 2vh);
		float: right;
		clear: none;
	}
	.form-group.logo,
	.form-group.avatar {
		label {
			position: relative;
			cursor: pointer;
			display: block;
			background-color: transparent;
			overflow: hidden;
			color: rgb(var(--custcolor));
			.hover {
				display: none;
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				background-color: rgba(172, 172, 172, .5);
				color: white;
				text-align: center;
				font-size: 5vh;
			}
		}
		label:hover {
			.hover {display: block;}
		}
		input[type="file"] {
			display: none;
		}
	}
	.form-group.logo {
		label {
			height: 10vh;
			width: 20vh;
			margin: 0 calc(50% - 10vh);
			line-height: 10vh;
			text-align: center;
			font-weight: bold;
			img {
				height: 100%;
				margin: 0;
			}
			.hover {
				line-height: 10vh;
			}
		}
	}
	.form-group.avatar {
		label {
			height: 15vh;
			width: 15vh;
			border-radius: 50%;
			background-color: rgba(var(--custcolor), .5);
			margin: 0 calc(50% - 7.5vh);
			img {
				height: 14vh;
				width: 14vh;
				border-radius: 50%;
				margin: .5vh;
			}
			.hover {
				line-height: 15vh;
			}
		}
	}
	.form-group.color {
		.form-field {
			width: 5vh;
		}
		.form-field:nth-child(4) {
			margin: 0 5%;
		}
	}
	.btn {
		height: 5.5vh;
		line-height: 5.5vh;
		font-size: 1.7vh;
		border-radius: 6vh;
		padding: 0 3vh;
		border: 1px solid rgb(var(--btncolor));
		background-color: rgb(var(--btncolor));
		color: white;
		cursor: pointer;
		font-family: 'Nunito', sans-serif !important;
	}
	.btn:hover {
		color: rgb(var(--btncolor));
		background-color: transparent;
	}
	.card#newteam,
	.card#letspitch {
		position: absolute;
		top: 25%;
		left: calc(50% - 25vh);
		height: 50.69vh;
		width: 50vh;
		#scroll {
			position: absolute;
			top: 8vh;
			left: 0;
			width: 50vh;
			padding: 0 3vh 0 4.3vh;
			height: 35vh;
			overflow: hidden;
		}
		
	}
	.card#account {
		position: absolute;
		top: 20%;
		left: calc(50% - 25vh);
		height: 60vh;
		width: 50vh;
	}
	.card#newteam {display: none}
	#pitch1, #pitch2 {
		position: absolute;
		width: 47vh;
	}
	#pitch1 {
		top: 15vh;
		left: 4vh;
	}
	#pitch2 {
		top: 29vh;
		right: 4vh;
	}
	.pitch-videos, .own-videos {
		position: absolute;
		top: 15vh;
		h3 { text-align: left;}
		.card {
			height: 60vh;
			box-shadow: 0px 0.2vh 1vh 0 rgba(94,94,94,0.15);
			margin-bottom: 1vh;
		}
		.videos {
			position: relative;
			margin-top: 2vh;
			.card {
				position: relative;
				float: left;
				width: 10vw;
				height: 27vh;
				padding: 0;
				margin-left: 1vw;
				overflow: hidden;
				cursor: pointer;
				a {
					position: absolute;
					top: 0; left: 0; 
					height: 100%; width: 100%;
				}
				.thumb {
					position: absolute;
					left: 0;
					widows: 100%;
					height: 20vh;
					img {
						height: 100%;
						width: 100%;
					}
					.overlay {
						position: absolute;
						top: 0;
						left: 0;
						height: 100%;
						width: 100%;
						background-color: rgba(0,0,0,0.2);
					}
					.rating {
						position: absolute;
						top: 0;
						left: 0;
						margin: 1vh;
						height: 3vh;
						width: 3vh;
						text-align: center;
						line-height: 3vh;
						color: white;
						border-radius: 50%;
						border: .25vh solid rgba(var(--custcolor), .8);
					}
					.time {
						position: absolute;
						top: 0;
						right: 0;
						height: 3vh;
						margin: 1vh;
						line-height: 3vh;
						color: white;
					}
					.play {
						position: absolute;
						margin: 7vh calc(5vw - 3vh);
						font-size: 6vh;
						height: 6vh;
						width: 6vh;
						color: white;
						background-color: rgba(255,255,255,.2);
						font-size: 2vh;
						line-height: 6vh;
						text-align: center;
						border-radius: 50%;
					}
				}
				.word {
					position: absolute;
					top: 20vh;
					width: 9vw;
					margin: 0 .5vw;
					font-size: 1.8vh;
					line-height: 4vh;
					font-weight: 600;
					height: 4vh;
					text-overflow: ellipsis;
					overflow: hidden;
				}
				.user {
					position: absolute;
					top: 24vh;
					width: 9vw;
					margin: 0 .5vw;
					font-size: 1.5vh;
					font-weight: 100;
					line-height: 3vh;
					img {
						float: left;
						height: 2vh;
						width: 2vh;
						margin: .5vh .25vw .5vh 0;
						border-radius: 50%;
					}
				}
			}
			.card:hover {
				.play {
					transform: scale(1.1);
				}
			}
			.card:first-child {margin-left: 0;}
		}
	}
	.pitch-videos {
		right: calc(40% + 3vh);
		width: 50%;
		.videos {
			position: relative;
			height: 45vh;
			.card:nth-child(3n +1) {
				margin-left: 0;
			}
		}
	}
	.own-videos {
		left: calc(60% + 3vh);
		width: 30%;
	}
	.pitch-video {
		position: fixed;
		top: 20vh; left: 25vw;
		height: 60vh; width: 60vw;
		.left, .right {
			float: left; position: relative;
			top: 0; left: 0;
			height: 55vh; width: 20vw;
			margin: 2.5vh 0; padding: 0;
			h3 {
				line-height: 2.5vh; font-size: 2vh; font-weight: bold; text-align: left;
				margin: 0 0 .5vh 0;
			}
			.user {
				line-height: 3vh;
				margin-bottom: 1vh;
				img {
					float: left;
					margin: .5vh .5vh .5vh 0;
					height: 2vh;
					width: 2vh;
					border-radius: 50%;
				}
			}
			h5 {
				font-size: 2vh;
				margin: 0 0 1vh 0;
			}
			.card {
				width: 100%; padding: 0;
				box-shadow: 0px 0.2vh 1vh 0 rgba(172,172,172,0.5);
			}
			.do-and-dont {
				position: absolute;
				top: 10vh;
				width: 100%;
				.card {
					height: 10vh;
					display: flex;
					.do, .dont, .speed {
						width: 33%;
						text-align: center;
						h5 {
							line-height: 3vh;
							margin: 0;
							font-size: 2vh; font-weight: normal;
						}
						.count {
							line-height: 5vh; font-size: 4vh;
						}
						.unit {
							line-height: 2vh; font-size: 1vh;
						}
					}
					.do .count {color: rgba(22,226,165,0.8);}
					.dont .count {color: rgba(204,51,51,0.8);}
				}
			}
			.transcript {
				position: absolute;
				bottom: 0;
				width: 100%;
				.card {
					height: 25vh;
					.coming-soon {
						line-height: 25vh; text-align: center; font-size: 3vh;
						color: rgba(0,0,0,0.3); font-weight: bold;
					}	
				}
			}
			.comments {
				width: 100%;
				position: absolute;
				bottom: 0;
				.card {
					height: 20vh;
					.comment {
						margin: 0 1vh;
						width: calc(100% - 2vh);
						border-bottom: 1px solid rgba(0,0,0,.2);
						.user {
							img {
								height: 3vh; width: 3vh;
								margin: 1vh;
							}
							line-height: 5vh;
							.delete {
								color: rgba(0,0,0,.3);
								float: right;
								font-size: 2vh;
								margin: 1.5vh;
							}
						}
						.comment {
							border-bottom: none;
							margin-bottom: 1vh;
							cursor: pointer;
							.dot {
								float: left;
								height: 2vh; width: 2vh;
								margin-right: 1vh;
								border-radius: 50%;
							}
							.dot.positive {background-color: #0ba653;}
							.dot.neutral {background-color: #ffcc00;}
							.dot.negative {background-color: #cc3333;}
						}
					}
				}
				.comment-form {
					.time {
						line-height: 5vh;
						float: left;
						font-weight: bold;
						font-size: 2vh;
					}
					.positive, .negative, .neutral {
						line-height: 5vh;
						float: right;
						.circle {
							float: left;
							display: inline-block;
							height: 2.3vh; width: 2.3vh;
							border-radius: 50%;
							border: .1vh solid;
							margin: 1.25vh 1vh;
							.dot {
								height: 1.5vh; width: 1.5vh;
								margin: .5vh;
								border-radius: 50%;
								display: none;
							}
						}
					}
					.active .circle .dot {display: block;}
					.positive {
						color: #0ba653;
						.circle {border-color: #0ba653;}
						.dot {background-color: #0ba653;}
					}
					.neutral {
						color: #ffcc00;
						.circle {border-color: #ffcc00;}
						.dot {background-color: #ffcc00;}
					}
					.negative {
						color: #c33333;
						.circle {border-color: #cc3333;}
						.dot {background-color: #cc3333;}
					}
					.form-group {
						clear: left;
						bottom: 0;
						margin-bottom: 0;
					}
				}
			}
			.own-ratings,
			.ratings {
				position: relative;
				width: 100%;
				height: 20vh;
				.rating {
					width: calc(100% - 12vh);
					margin-bottom: 1vh;
					.name {
						float: left;
					}
					.rate {
						float: right;
					}
					.bar {
						width: 100%;
						background-color: rgba(0,0,0,.2);
						height: 1vh;
						border-radius: .5vh;
						clear: both;
						overflow: hidden;
						.fill {
							height: 100%;
							background-color: rgb(var(--custcolor));
						}
					}
				}
				.switch {
					position: absolute;
					bottom: 1vh;
					width: 3vh;
					height: 1.5vh;
					background-color: rgba(0,0,0,.2);
					border-radius: 1vh;
					cursor: pointer;
					.dot {
						height: 1.5vh;
						width: 1.5vh;
						border-radius: 50%;
						float: left;
						background-color: rgb(var(--custcolor));
					}
				}
				.switch-text {
					position: absolute;
					left: 4vh;
					width: calc(100% - 4vh);
					bottom: 1vh;
					font-size: 1.5vh;
					line-height: 1.5vh;
				}
				.ges-rating {
					position: absolute;
					top: 0;
					left: calc(100% - 10vh);
					width: 10vh;
					height: 20vh;
					.rate {
						line-height: 10vh;
						text-align: center;
						font-size: 5vh;
						svg {
							position: absolute;
							height: 10vh;
							left: calc(50% - 5vh);
							transform: rotate(-90deg);
						}
					}
					.name {
						line-height: 3vh;
						text-align: center;
					}
				}
			}
			.own-ratings {
				display: none;
				.switch .dot {
					float: right;
				}
			}
		}
		.middle {
			float: left; position: relative;
			height: 55vh; width: 16vw;
			margin: 2.5vh 2vw; padding: 0;
			box-shadow: 0px 0.2vh 1vh 0 rgba(172,172,172,0.5);
			video {
				margin: 1vh .5vw 0 .5vw;
				height: 45vh; width: 15vw;
				background-color: black;
				border-radius: 1vh;
			}
			.progress {
				position: absolute;
				top: 47.5vh;
				height: 2vh; width: 15vw;
				margin: 0 .5vw;
				z-index: 1000;
				.progress-bar {
					position: relative;
					margin: .5vh 0 0;
					width: 100%;
					height: 1vh;
					border-radius: .5vh;
					background-color: rgba(0,0,0,.2);
					overflow: hidden;
					cursor: pointer;
					.bar {
						position: absolute;
						top: 0; left: 0;
						width: 0; height: 100%;
						background-color: rgba(var(--btncolor),.8);
					}
				}
			}
			.controls {
				position: absolute;
				top: 48vh;
				margin: 0 .5vw;
				height: 6vh; width: 15vw;
				z-index: 100;
				.play, .pause {
					position: absolute;
					left: calc(7.5vw - 2vh); bottom: 0;
					height: 4vh; width: 4vh;
					color: rgba(var(--btncolor), .8);
					text-align: center; line-height: 4vh;
					font-size: 4vh;
					cursor: pointer;
				}
				.play:hover, .pause:hover, .stop:hover, .mute:hover, .muted:hover {color: rgba(var(--btncolor), .5)}
				.pause {display: none;}
				.stop {
					position: absolute;
					right: calc(8vw + 2vh); bottom: 0;
					height: 3vh; width: 3vh;
					color: rgba(var(--btncolor), .8);
					line-height: 3vh; text-align: center;
					font-size: 3vh;
					cursor: pointer;
				}
				.stop:hover {color: rgba(var(--btncolor), .5);}
				.mute, .muted {
					position: absolute;
					right: 0; bottom: 0;
					color: rgba(var(--btncolor), .8);
					cursor: pointer;
				}
				.muted {
					display: none;
				}
			}
		}
	}
}
.modal-blur {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0,0,0,.5);
	color: black;
	.card {
		position: absolute;
		top: 40vh;
		left: calc(50vw - 20vh);
		height: 20vh;
		width: 40vh;
		background-color: white;
		border-radius: 1vh;
		box-shadow: 0 0 10px 0 rgba(172,172,172,.1);
		padding: 0 4.3vh;
		font-size: 2vh;
		.close {
			position: absolute;
			top: 0;
			right: 0;
			height: 5vh;
			width: 5vh;
			line-height: 5vh;
			text-align: center;
			color: rgba(172,172,172,.5);
			font-size: 3vh;
			cursor: pointer;
		}
		.close:hover {
			opacity: .5;
		}
		h3 {
			font-size: 3vh;
		}
	}
}
.popup {
	display: none;
	position: fixed;
	left: calc(50vw - 300px);
	top: calc(50vh - 350px);
	height: 700px;
	width: 600px;
	background-color:
	#ffffff;
	border-radius: 10px;
	box-shadow: 0px 6px 20px 0
	rgba(172,172,172,0.1);
	z-index: 100;
	.img-container {
		position: relative;
		height: 500px;
		width: 500px;
		margin: 50px;
	}
	.center {
		position: relative;
		height: 50px;
		line-height: 50px;
		width: 500px;
		margin: 0 50px 50px;
		text-align: center;
	}
	.close {
		cursor: pointer;
		position: absolute;
		right: 0;
		top: 0;
		height: 50px;
		line-height: 50px;
		width: 50px;
		color: 
		#6e6e6e;
		font-size: 30px;
		text-align: center;
	}
}
.red {
	color: #ff5f58 !important;
}
.green {
	color: rgb(var(--btncolor)) !important;
}
*:focus {
    outline: none;
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.checkbox-container {
	margin-bottom: 1.5vh;
	.far {
		color: rgb(var(--btncolor));
	}
	.far:hover {
		cursor: pointer;
	}
	.skip-election-group {
		display: flex;
		label {
			font-size: 1.6vh;
		}
	}
}
