#content #new-pitch-navbar {
	position: fixed;
	display: flex;
	top: 0; left: calc(25.6vh - 1px);
	height: 8vh; width: calc(100vw - (25.6vh - 1px));
	background-color: white;
	.form-group {
		z-index: 10;
		margin: 1vh 2vw; height: 6vh;
		width: 20vw;
		.form-field {
			margin: .25vh .25vw .25vh 0;
			width: 10vw;
		}
		.btn {
			width: 8vw;
			font-weight: bold;
        }
	}
	.btn-group {
		z-index: 10;
		position: absolute;
		right: 0;
		height: 8vh;
		.btn {
			float: left;
			display: inline-block;
			margin: 1vh .25vw;
			text-decoration: none;
			width: 3vw;
			text-align: center;
			font-weight: bold;
        }
        
        .done-btn {
            width: 6vw;
        }
	}
	h1 {
		position: absolute;
		left: 30%;
		width: 40%;
		text-align: center;
		font-size: 4vh;
		line-height: 8vh;
		margin: 0;
		z-index: 0;
	}
}
#new-pitch-content {
	position: fixed;
	top: 8vh;  left: calc(25.6vh - 1px);
	height: 92vh; width: calc(100vw - (25.6vh - 1px));
    font-size: 1.7vh;
    
    .form-group {
        .title-field {
            position: absolute;
            width: 95.5% !important;
        }
    }
    .menu-box {
        display: none;
        font-size: 2vh;
        font-weight: bold;
        position: absolute;
        padding: 1vh;
        bottom: 8vh;
        background: #FFFFFF;
        box-shadow: 0 0 2.4vh rgba(0, 0, 0, 0.1), 0 0 3.4vh rgba(0, 0, 0, 0.08), 0 0 1.5vh rgba(0, 0, 0, 0.18);
        border-radius: 1.5vh;

        .menu {
            cursor: pointer;
            padding: 1vh;
            text-align: right;
            border-bottom: 0.1vh solid #CFD3D6;
        }

        .menu:last-child {
            border: none;
        }
    }
	.card.left, .right-side-card {
		left: 2vw; top: 5vh;
		height: 82vh; width: 15vw;
		
		padding: 0;
		.tasks, .right-tasks {
            width: 15vw; height: 70vh;
            // overflow-y: scroll;
			.card, .task-card {
                cursor: pointer;
				left: .5vw; width: 14vw; height: 30.5vh;
				padding: 0;
				box-sizing: border-box;
				box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
				.task-title {
					width: 13vw;
					margin: 0 .5vw;
					height: 4vh;
					line-height: 4vh;
					.fa-exclamation-triangle {
						color: red;
						font-size: 2vh;
					}
					.name {
						float: left;
                    }
                    .name-div {
                        width: 6vh;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
					i {
						float: left;
						font-size: 1vh;
						line-height: 4vh;
						margin: 0 .2vw;
					}
					.category {
						float: left;
					}
					.remove {
						float: right;
						color: #CFD3D6;
						font-size: 2vh;
						cursor: pointer;
					}
					.copy {
						float: right;
						color: #CFD3D6;
						font-size: 2vh;
						cursor: pointer;
					}
				}
				.thumb {
					position: relative;
					width: 13vw; margin: 0 .5vw;
					img {width: 13vw; height: 13vh;}
					.length {
						position: absolute;
						top: .5vh;
						left: .5vw;
						height: 5vh;
						width: 5vh;
						border-radius: 50%;
						background-color: #667093;
						color: white;
						line-height: 5vh;
						font-size: 2vh;
						text-align: center;
					}
				}
				.title {
					margin: 0 .5vw;
					font-size: 2vh;
					font-weight: bold;
				}
				.sub-title {
					margin: .5vh .5vw;
					font-size: 1.5vh;
					font-weight: bold;
				}
				.rating-criteria {
					margin: 0 .5vw;
					width: 13vw;
					.criterium {
						border-radius: 2vh;
						line-height: 2.5vh; font-size: 1.5vh;
						border: .3vh solid #d81538;
						width: 4.65vw;
						margin: .2vh 0;
						text-overflow: ellipsis;
						overflow: hidden;
						white-space: nowrap;
						padding: 0 .75vw;
						float: left;
					}
					.criterium:nth-child(2) {
						border-color: #2c69d1;
						float: right;
					}
					.criterium:nth-child(3) {
						border-color: #d39d00;
					}
					.criterium:nth-child(4) {
						border-color: #378900;
						float: right;
					}
				}
            }
            
            .card {
                margin-bottom: 1vh;
            }

            .fa-trash {
                cursor: pointer;
            }

            .title-field {
                width: 85%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

			.card.selected {
				border: 2px solid red;
			}
        }
        
        #tasksScrollBar {
            .ps__thumb-y {
                height: 17vh !important;
                bottom: 10vh;
                display: none;
            }
            .ps__rails-y {
                top: 1vh !important;
                display: none;
            }
        }

        .add-first-task .btn {
            top: 0;
        }

		.add-task {
			position: absolute;
			bottom: 2vh;
			right: 2vh;
			height: 5vh; width: 5vh;
			cursor: pointer;
			border-radius: 50%;
			box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.08), 0px 4px 8px rgba(0, 0, 0, 0.18);
			img {
				height: 100%;
				width: 100%;
			}
		}
    }

    
    .right-side-card {
        height: 61vh;
        width: 100%;
        .right-tasks {
            height: 61vh;
            width: 100%;

            .task-card {
                position: relative;
                float: left;
                border-radius: 1vh;
                margin: .5vh .5vw 1.5vh .5vw;
                height: 34vh;

                .buttons {
                    .btn {
                        height: 4.5vh;
                        line-height: 4.5vh;
                        width: 27.2vh;
                        margin: 1vh 1.1vh;
                    }
                }

                .thumb {
                    padding-top: 0.5vw;

                    .length {
                        top: 1.8vh;
                    }
                }
            }
        }
    }

	.card.right {
		position: absolute;
		top: 5vh; left: 18vw;
		height: 82vh; width: 65vw;
		padding: 0;
		.form-group.title {
			margin: 1vh 1vw;
			width: 63vw;
		}
		.card {
			padding: 0 1vw;
			width: 28vw;
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
			.title {
				line-height: 5vh;
				font-size: 2vh;
				font-weight: bold;
			}
			.subline {
				color: rgba(0,0,0,.5);
			}
		}
		.card.time-limit {
			position: absolute;
			left: 1vw; top: 6.5vh;
			height: 16vh;
			.form-group {
				margin: 1vh 0;
				.time-field {
					width: 5vw;
				}
			}
		}
		.card.add-catchword {
			position: absolute;
			top: 25vh; left: 1vw;
            height: 39vh;
			.btn-line {
				position: relative;
				width: 100%;
				.btn {
					position: relative;
					float: left;
					width: 20%;
					border-color: rgb(var(--custcolor));
					background-color: white;
					color: black;
					margin: 0 .4vw 0 0;
					height: 4vh; line-height: 4vh;
					font-weight: bold;
				}
				.btn.selected, .btn:hover {
					background-color: rgb(var(--custcolor));
					color: white;
				}
            }
			.picture, .video, .audio {
                margin-top: 5vh;
				display: none;
				.upload {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: bold;
                    font-size: unset;
					position: relative;
					float: left;
					width: 20%;
					margin: 1vh 0;
				}
				.preview {
                    display: none;
					float: right;
					position: relative;
					img, video {
						width: 10vw;
						height: 10vh;
						border-radius: 1vh;
					}
					.time {
						position: absolute;
						right: 10.5vw;
						top: 3vh;
						line-height: 2vh;
						font-size: 1.8vh;
					}
					.remove {
						position: absolute;
						right: 10.5vw;
						top: 5vh;
						color: red;
						cursor: pointer;
						font-size: 2vh;
					}
                }
                
                .audio-preview {
                    img {
                        width: 3vh;
                        position: absolute;
                        bottom: -5vh;
                        left: -4vh;
                    }
                    .audio-title {
                        width: 22vh;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        position: relative;
                        top: 1vh;
                    }

                    .remove {
                        right: 1vh;
                        top: 4vh;
                    }
                }
            }
            
            .audio .btn, .video .btn {
                margin-right: 1vh;
            }
		}
		.add-reaction, .catchword {
			.form-group {
				margin: 1vh 0;
				.form-field {
					width: 45%;
				}
				.custom-select {
					// position: absolute;
					// right: 1vw;
                    // width: 45%;
                    
                    width: 40%;
                    position: relative;
                    right: 0;
                    float: right;
                    line-height: 5.5vh;
                }
                .sub-cs {
                    display: none;
                    position: relative;
                    top: 0.2vh;
                    left: 1.8vh;
                    width: 24.8vh;
                    background-color: white;
                    border: .1vh solid #dfe1e5;
                    height: max-content;
                    // height: 18.3vh;
                    // max-height: 42.3vh;
                    // overflow-y: scroll;
                    z-index: 10;
                    box-shadow: 0px 0.6vh 2.2vh 0 rgba(172,172,172,0.1);
                    border-radius: 5px;
                }

                .option {
                    position: relative;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 3.9vh;
                    line-height: 3.9vh;
                    font-size: 1.8vh;
                    cursor: pointer;

                    .fa-caret-left {
                        padding: 1.2vh 0.4vh 0;
                    }
    
                    span {
                        float: right;
                        padding-right: 0.6vh;
                    }

                    .list {
                        position: absolute;
                        top: 0;
                        left: -22.4vh;
                        max-height: 17vh;
                        width: 22vh;
                        background-color: white;
                        box-shadow: 0px 0.6vh 2.2vh 0 rgba(172, 172, 172, 0.1);
                        border: .1vh solid #dfe1e5;
                        border-radius: 0.5vh;
                        overflow-y: auto;
                        z-index: 10;
                    }

                    .name {
                        position: relative;
                        width: 100%;
                        cursor: pointer;
                        line-height: 3.4vh;
                        height: 3.4vh;
                        text-align: right;
                        z-index: 10;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: normal;
                    }

                }

			}
			.info {
                // margin: 2vh 0;
                margin-top: 4vh;
				font-size: 1.5vh;
				font-weight: 500;
			}
		}
		.card.add-reaction {
			position: absolute;
			top: 6.5vh; right: 1vw;
			height: 26vh;
		}
		.card.add-rating {
			position: absolute;
			top: 35vh; right: 1vw;
			height: 28vh;
			.form-group {
				margin: 1vh 0;
				position: relative;
				.form-field {
					width: calc(100% - 12.5vh);
					padding-left: 3.5vh;
				}
				.star {
					position: absolute;
					top: 1px; left: 1px;
					width: 3vh; height: 5.5vh;
					background-color: #F2C94C;
					border-top-left-radius: .8vh;
					border-bottom-left-radius: .8vh;
					img {
						position: absolute;
						top: 1.5vh; left: .25vh;
						height: 2.5vh; width: 2.5vh;
					}
				}
				.add {
					position: absolute;
					right: 0; top: 0;
					height: 5.5vh;
				}
			}
        }

        .add-reaction, .catchword, .add-rating {
            .capsule-list {
				position: relative;
				width: 26vw;                
                padding: 1vh 1vw;
				.word {
					float: left;
					position: relative;
					top: 0; left: 0;
					line-height: 3vh;
					margin: .5vh .2vw;
					border: 1px solid #667093;
					border-radius: 1.5vh;
					min-width: 5vw;
					width: auto;
					text-align: center;
					background-color: white;
                    padding: 0 .5vw;
                    height: 3vh;
                    max-width: 7vw;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
				}
				.last {
					clear: left;
				}
            }
            .list-with-words {
                // background-color: #fafafa;
                min-height: 4vh; 
            }
        }
        
        #pitches {
            display: none;
            padding: 1vw;

            .search {
                top: 0;
                margin-bottom: 1vh;
            }

            .card .title {
                line-height: 3vh;
            }

            .card .buttons .btn,
            .card .buttons .btn:last-child {
                left: 0;
                width: 22.8vh;
            }
        }
	}
}

#content {
    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 10vh;
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        background-color: rgba(244, 250, 255, 0.8);

        .heading h1 {
            font-size: 4vh;
            line-height: 8vh;
            margin: 0;
            text-align: left;
            font-weight: bold;
        }

        .modal-content .btn {
            width: 3vw;
            padding: 0 3vh;
        }

        .right-section .btn-wrapper {
            right: 17vh;
        }
    }

    .modal-content {
        position: relative;
        left: 12vh;
        background-color: #fefefe;
        margin: auto;
        background-color: white;
        border-radius: 1vh;
        box-shadow: 0 0 10px 0 rgba(172, 172, 172, 0.1);
        width: 50%;
        padding: 2vh 2.5vh;
    }

    .heading h1 {
        font-size: 4vh;
        line-height: 8vh;
        margin: 0;
    }

    .modal-content {

        .btn {
            display: inline-block;
            margin: 1vh .25vw;
            text-decoration: none;
            width: 3vw;
            text-align: center;
            font-weight: bold;
        }
        
        .inner-content {
            display: flex;
            width: 100%;
        }

        label {
            display: block;
            line-height: 5vh;
            font-size: 2vh;
            font-weight: bold;
        }

        .hr-line {
            border-top: 0.2vh solid #CFD3D6;
            padding: 1.5vh;
        }

        .left-section {
            width: 50%;
            border-right: 0.2vh solid #CFD3D6;
            padding-right: 3vh;

            .pitch-description textarea {
                padding: 1vh;
                height: 6.5vh;
            }

            .checkbox-container .skip-election-group label {
                font-size: 1.8vh;
            }

            .checkbox-container .form-group .heading-label {
                font-size: 2vh;
                font-weight: bold;
            }

            .far {
                font-size: 2vh;
            }
        }

        .toggle-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1.5vh;
        }

        .right-section {
            position: relative;
            width: 50%;
            display: flex;
            flex-direction: column;
            padding-left: 3vh;

            .picture, .video, .audio {
                margin-bottom: 2vh;

                label {
                    position: absolute;
                    line-height: 2.5vh;
                    float: left;
                }

                #pitch_video, #pitch_image {
                    display: none;
                }

                .upload {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: bold;
                    font-size: unset;
                    position: relative;
                    float: left;
                    margin: 1vh 0;
                    margin-top: 4vh;
                }
                .preview {
                    display: none;
                    float: right;
                    position: relative;
                    video, img {
                        width: 10vw;
                        height: 10vh;
                        border-radius: 1vh;
                    }
                    .time {
                        position: absolute;
                        right: 10.5vw;
                        top: 3vh;
                        line-height: 2vh;
                        font-size: 1.8vh;
                    }
                    .remove {
                        position: absolute;
                        right: 10.5vw;
                        top: 5vh;
                        color: red;
                        cursor: pointer;
                        font-size: 2vh;
                    }
                }
            }

            .video-form {
                label {
                    font-size: 1.8vh;
                }

                .form-group {
                    position: relative;
                    text-align: left;
                    .form-field {
                        width: calc(100% - 9vh);
                    }
                }

                .add {
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 5.5vh;
                }
            }

            .btn-wrapper {
                position: absolute;
                // right: 0;
                bottom: 0;
                
                .submit-btn {
                    width: 6vw;
                }
            }
        }

    }

    .close {
        position: relative;
        top: -2vh;
        color: #aaaaaa;
        float: right;
        font-size: 6vh;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    #videoModal .modal-content {
        width: 72vh;
        height: 62vh;
		.inner-content {
			display: block;
		}
		.video {
			position: relative;
			top: 0; left: 0;
			width: 72vh;
			height: 45vh;
			background-color: black;
			#player {
				display: none;
			}
			
			video {
				position: absolute;
				width: 100%;
				height: 100%;
			}
			.navigator {
				position: absolute;
				bottom: 0; left: 21vh;
				width: 30vh;
				margin: 0 auto;
				line-height: 10vh;
				text-align: center;
				font-size: 5vh;
				background-color: rgba(0,0,0,.5);
				border-radius: 2vh;
				.stop, .videorecord, .play {
					display: inline-block;
					color: white;
				}
				.stop, .play {
					display: none;
				}
				.videorecord {color: red;}
				.videorecord.pulse i {
					animation: record 1s infinite;
				}
				@keyframes record {
					50% {
						transform: scale(1.1);
					}
				}
			}
		}
        img {
            width: 72vh;
        }

        .buttons {
            position: absolute;
            bottom: 1vh;
            width: 94%;
        }

        .btn {
            width: 14vh;
            height: 7vh;
            line-height: 7vh;
            font-weight: bold;
            font-size: 2.2vh;
        }

        .reversed {
            border-color: #FF0000;
            color: #000;
        }

        .reversed:hover {
            background: #FF0000;
            color: white;
        }

        .btn:last-child {
            float: right;
        }
    }




    .toggle-my-ratings {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3.4vh;
        line-height: 24px;
        border-top: 0.1vh solid #dfe1e5;
    }
    .toggle-my-ratings .left-side {
        background-color: white;
    }

    .toggle-my-ratings .right-side {
        background-color: #16E2a5;
    }

    .toggle-my-ratings .right-side .dot {
        background-color: white !important;
    }

    .toggle-my-ratings .toggle {
        position: relative;
        float: left;
        width: 3vh;
        height: 2vh;
        border-radius: 1.2vh;
        border: 0.1vh solid #dfe1e5;
        cursor: pointer;
        top: 0.1vh;
    }
    .toggle-my-ratings .toggle .dot {
        margin: 0.24vh 0.24vh;
        height: 1.4vh;
        width: 1.4vh;
        border-radius: 1vh;
        background-color: #adb5bd;
    }

    .toggle-my-ratings .toggle.left-side .dot {
        float: left;
    }
    .toggle-my-ratings .toggle.right-side .dot {
        float: right;
    }
    .toggle-my-ratings .text {
        font-size: 1.6vh;
        line-height: 2.2vh;
    }
    .toggle-my-ratings-1 {
        position: inherit;
        border-top: 0;
        // margin-top: 2vh;
    }

    .form-group .form-field.danger {
        border: 0.1vh solid red; 
    }

    .form-group .form-field.valid {
        border: .1vh solid #dfe1e5; 
    }

    .save {
        position: absolute;
        top:5vh;
        z-index: 44444;
    }
}

.danger {
    border: 0.1vh solid red; 
}
.hide {
    display: none;
}

#navbar {
    display: none;
}

input[type="file"] {
    display: none;
}

#content {
    
    #pitchModal {
        
        #show_ratings {
            display: none;
        }
    
        .form-group label.container {
            display: block;
            position: relative;
            cursor: pointer;
            margin: 0.2vh 0;
        }
    
        .skip-elections label,
        .pitch-sound label {
            font-size: 2vh;
            font-weight: bold;
        }
    
        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
    
        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            top: 0;
            right: 0;
            height: 1.6vh;
            width: 1.6vh;
            border: 0.24vh solid rgb(29, 218, 175);
            border-radius: 0.3vh;
            background-color: white;
        }
    
        /* On mouse-over, add a grey background color */
        .container:hover input~.checkmark {
            background-color: white;
        }
    
        /* When the checkbox is checked, add a blue background */
        .container input:checked~.checkmark {
            background-color: white;
        }
    
        /* Create the checkmark/indicator (hidden when not checked) */
        .common-checkbox .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }
    
        /* Show the checkmark when checked */
        .common-checkbox input:checked~.checkmark:after {
            display: block;
        }
    
    
    
        .rating-container .checkmark:after {
            display: none;
        }
    
        .rating-container input:checked~.checkmark:after {
            display: block;
        }
    
        .rating-container .checkmark:after {
            content: "";
            position: absolute;
            display: block;
        }
    
    
    
        /* Style the checkmark/indicator */
        .container .checkmark:after {
            left: .5vh;
            top: 0.1vh;
            width: 0.3vh;
            height: 0.8vh;
            border: solid rgb(29, 218, 175);
            border-width: 0 0.3vh 0.3vh 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}
