#content {
	.card#letspitch #scroll {
		width: 46vh !important;
		height: 27vh !important;
	}

	#pitch-list {
		height: 54vh;

		.ps__thumb-y {
    		position: relative;
			right: 6vh;
			top: 10vh !important;
			bottom: 10vh !important;
			height: 10vh !important;
		}
	}


    .blur {
        position: fixed;
        top: 0; left: 25vh;
        height: 100%; width: calc(100vw - 25vh);
        background-color: rgba(0,0,0,.5);
		.card#letspitch,
		.card#warningCard,
		.card#warningCard2 {
            height: 45vh; width: 45vh;
		}

		.card#warningCard,
		.card#warningCard2 {
			text-align: center;
			padding: 3vh;
			height: 30vh;
			width: 45vh;

			h1 {
				line-height: 4.7vh;
			}

			i {
				font-size: 8vh;
				color: rgb(var(--btncolor));
			}

			p {
				font-size: 2vh;
			}

			.buttons {
				.btn {
					width: calc(100% - 29vh);
					margin: 3vh 2.3vh;
				}
				.ok-btn {
					right: 0;
					left: auto;
				}

				.cancel-btn {
					left: 0;
				}
			}
		}

		.card#warningCard2 h1 {
			margin-top: 3vh;
		}

		.close {
			top: -1.5vh;
    		left: 2vh;
		}
    }
}
#content .card#pitches,
#content .card.right #pitches{
	height: 90%;
	font-size: 1.7vh;

	.edit-card {
		text-decoration: none;
		color: unset;
	}

	.search {
		position: relative;
		top: 2vh;
		left: 0;
		width: 100%;
		color: #7a858b;
		margin-bottom: 4vh;
		i {
			position: absolute;
			line-height: 5.5vh;
			width: 5vh;
			text-align: center;
		}
		.form-field {
			width: calc(100% - 6vh);
			background-color: white;
			border: 1px solid #CFD3D6;
			height: 5.5vh;
			border-radius: .8vh;
			font-size: 1.8vh;
			padding: 0 1vh 0 5vh;
		}
	}
	h3, h5 {
		text-align: left;
		font-weight: normal;
		margin: 0;
	}
	h3 {
		margin-top: 2vh;
		line-height: 5vh;
		font-weight: bold;
	}
	h5 {
		margin-bottom: 2vh;
		font-size: 1.7vh;
		color: #999a9b;
	}
	.pitch-list {
		position: relative;
		left: -.5vw;
		height: 54vh;
		width: calc(100% + 1vw);
	}
	.card {
		position: relative;
		float: left;
		width: 12vw;
		height: 27vh;
		padding: 0;
		margin: .5vh .5vw 1.5vh .5vw;
		overflow: hidden;
		cursor: pointer;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
		a.fas.fa-trash {
			position: absolute;
			top: 0; right: 0;
			margin: 1vh; font-size: 1.7vh;
			color: rgba(0,0,0,.2)
		}
		.thumb {
			margin: 1vh .5vw;
			height: 11vh; width: 11vw;
			img {
				height: 100%; width: 100%;
			}
		}
		.title {
			margin: 1vh .5vw;
			width: calc(100% - 1vw);
			font-weight: bold;
			font-size: 1.7vh;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		.pitches-title-wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 1vh .5vw;
			.title {
				margin: 0;
				width: calc(100% - 3vw);
			}
		}
		.autor {
			i {opacity: .7; margin-right: .5vw;}
			margin: 0 .5vw;
			width: calc(100% - 1vw);
			font-size: 1.5vh;
		}
		.subtitle {
			margin: 0 .5vw;
			font-size: 1.5vh;
			opacity: .5;
		}
		.buttons,
		.pitch-buttons {
			position: absolute;
			left: .5vw; bottom: 1.5vh;
			width: 14vw; 
			height: 6vh;
			.btn {
				left: 0;
				width: 5vw;
				height: 4vh;
				line-height: 4vh;
				margin: 0;
			}
			.btn:last-child {
				left: 6vw;
			}
		}

		.pitch-buttons {
			width: unset;
			.btn {
				width: 10.7vw;
			}

			.btn:last-child {
				left: 0.1vw;
			}
		}
	}
	.card#newpitch {
		text-align: center;
		img {
			height: 10vh; width: 10vh;
			margin: 7vh auto 0 auto;
			color: rgb(var(--btncolor));
		}
		.title {
			position: absolute;
			top: 18vh; left: 0;
			text-align: center;
		}
		a {
			position: absolute;
			left: 0; top: 0;
			height: 100%;
			width: 100%;
		}
	}
}

#content .card#pitches {
	.card .buttons {
		left: .15vw;

		.btn {
			padding: 0 0.4vh;
			font-weight: bold;
		}

		.btn.reversed {
			margin-left: 0.5vh;
		}
	}

}

.dropdown-div {
	padding: 0 0.5vh;
}

.dropdown-icon {
	// position: absolute;
    text-decoration: none;
    right: 2vh;
    top: 1.5vh;
    color: #acb2bd;
}

.dropdown-option-wrapper {
	display: none;
	position: absolute;
	right: 1.3vh;
    top: 3vh;
    width: 19.8vh;
    left: unset;
    width: 13.8vh;
	float: right;
    // line-height: 4.5vh;	
    background-color: white;
    border: .1vh solid #dfe1e5;
    height: max-content;
    z-index: 10;
    box-shadow: 0px 0.6vh 2.2vh 0 rgba(172, 172, 172, 0.1);
	border-radius: 5px;
	
	.dropdown-option {
		padding: 1vh;
	}
	.select-name {
		display: block;
		line-height: 3vh;
		// padding: 0 1vh 1vh;
	}

	a {
		width: 100%;
		display: block;
		color: #212529;
		text-decoration: none;
	}

	.fa, .fas, .far {
		margin-right: 1vh;
		color: #acb2bd;
	}
}