<div class="background-transparent" id="new-stuff">
<div class="content-dropdown new">
  <div class="entry" onclick="newFolder()">
    <div class="icon">
      <%= image_tag 'dash/icons/folder.svg' %>
    </div>
    <div class="type">Ordner erstellen</div>
  </div>
  <div class="entry" onclick="newContent()">
    <div class="icon">
      <%= image_tag 'dash/audio.png' %>
    </div>
    <div class="type">Inhalte hinzufügen</div>
  </div>
  <div class="entry" onclick="newList()">
    <div class="icon">
      <%= image_tag 'dash/no-image-icon.png' %>
    </div>
    <div class="type">Liste erstellen</div>
  </div>
</div>
</div>
<script type="text/javascript">
  function toggleNewContent() {
    $('#new-stuff').toggle();
  }
</script>
