<div class="background-transparent" id="new-stuff">
<div class="content-dropdown new">
  <div class="entry" onclick="newFolder()">
    <div class="icon">
      <%= image_tag 'dash/icons/folder.svg' %>
    </div>
    <div class="type">Ordner erstellen</div>
  </div>
  <div class="entry" onclick="newContent()">
    <div class="icon">
      <%= image_tag 'dash/audio.png' %>
    </div>
    <div class="type">Inhalte hinzufügen</div>
  </div>
  <div class="entry" onclick="newList('catchword')">
    <div class="icon">
      <%= image_tag 'dash/no-image-icon.png' %>
    </div>
    <div class="type">Catchwortliste erstellen</div>
  </div>
  <div class="entry" onclick="newList('objection')">
    <div class="icon">
      <svg viewbox="0 0 144 144" onclick="toggleNewContent()"><use xlink:href="#handIconBlack" /></svg>
    </div>
    <div class="type">Einwandliste erstellen</div>
  </div>
</div>
</div>
<script type="text/javascript">
  function toggleNewContent() {
    $('#new-stuff').toggle();
  }
</script>
